//*------------------------------------*\
//    $CSSWIZARDRY-GRIDS
//*------------------------------------*/
//**
// * CONTENTS
// * INTRODUCTION.........How the grid system works.
// * VARIABLES............Your settings.
// * MIXINS...............Library mixins.
// * GRID SETUP...........Build the grid structure.
// * WIDTHS...............Build our responsive widths around our breakpoints.
// * PUSH.................Push classes.
// * PULL.................Pull classes.
// */





//*------------------------------------*\
//    $INTRODUCTION
//*------------------------------------*/

// * csswizardry grids provides you with widths to suit a number of breakpoints
// * designed around devices of a size you specify. Out of the box, csswizardry
// * grids caters to the following types of device:
// *
// * palm     --  palm-based devices, like phones and small tablets
// * lap      --  lap-based devices, like iPads or laptops
// * lap-up   --  everything except palm
// * desk     --  stationary devices, like desktop computers
// * regular  --  any/all types of device
// *
// * These namespaces are then used in the library to give you the ability to
// * manipulate your layouts based around them, for example:
// *
//   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
// *
// * This would give you a grid item which is 100% width unless it is on a lap
// * device, at which point it become 50% wide, or it is on a desktop device, at
// * which point it becomes 33.333% width.
// *
// * csswizardry grids also has push and pull classes which allow you to nudge
// * grid items left and right by a defined amount. These follow the same naming
// * convention as above, but are prepended by either `push--` or `pull--`, for
// * example:
// *
//   `class="grid__item  one-half  push--one-half"`
// *
// * This would give you a grid item which is 50% width and pushed over to the
// * right by 50%.
// *
// * All classes in csswizardry grids follow this patten, so you should fairly
// * quickly be able to piece together any combinations you can imagine, for
// * example:
// *
//   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
// *
//   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
// *
//   `class="grid__item  palm--one-third  desk--five-twelfths"`






//*------------------------------------*\
//    $VARIABLES
//*------------------------------------*/
//**
// * If you are building a non-responsive site but would still like to use
// * csswizardry-grids, set this to ‘false’:
// */
$grid--responsive:            true!default;


//**
// * Is this build mobile first? Setting to ‘true’ means that all grids will be
// * 100% width if you do not apply a more specific class to them.
// */
$grid--mobile-first:          true!default;


//**
// * Set the spacing between your grid items.
// */
$grid--gutter:                $base--rhythm-number!default;


//**
// * Would you like Sass’ silent classes, or regular CSS classes?
// */
$grid--use-silent-classes:    true!default;

@if($test == "true") {
    $grid--use-silent-classes:    false!global;
}


//**
// * Would you like push and pull classes enabled?
// */
$grid--push:                  true!default;
$grid--pull:                  true!default;


// * This grid uses flex-box for browsers that support it and falls back to `inline-block`.
// * `Using `inline-block` means that the grid items need their whitespace removed in order for them to work
// * correctly. Set the following to true if you are going to achieve this by manually removing/commenting out
// * any whitespace in your HTML yourself.
// *
// * Setting this to false invokes a hack which cannot always be guaranteed,
// * please see the following for more detail:
// *
// * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
// * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371

$grid--use-markup-fix:        false!default;


//**
// * Define your breakpoints. The first value is the prefix that shall be used for
// * your classes (e.g. `.palm--one-half`), the second value is the media query
// * that the breakpoint fires at.
// */
$grid--breakpoints: (
    "palm"   $bp--palm,
    "lap"    $bp--lap,
    "lap-up" $bp--lap-up,
    "desk"   $bp--desk,
    "high"   $bp--high
)!default;


//**
// * Define which namespaced breakpoints you would like to generate for each of
// * widths, push and pull. This is handy if you only need pull on, say, desk, or
// * you only need a new width breakpoint at mobile sizes. It allows you to only
// * compile as much CSS as you need. All are turned on by default, but you can
// * add and remove breakpoints at will.
// *
// * Push and pull shall only be used if `$grid--push` and/or `$grid--pull` and `$grid--responsive`
// * have been set to ‘true’.
// */
$grid--breakpoint-has-widths: ("palm", "lap","lap-up", "desk","high")!default;
$grid--breakpoint-has-push:   ("palm", "lap","lap-up", "desk","high")!default;
$grid--breakpoint-has-pull:   ("palm", "lap","lap-up", "desk","high")!default;


//**
// * You do not need to edit anything from this line onward; csswizardry-grids is
// * good to go. Happy griddin’!
// */
$grid--class-type:            unquote(".");

@if $grid--use-silent-classes == true{
    $grid--class-type:        unquote("%")!global;
}





//*------------------------------------*\
//    $MIXINS
//*------------------------------------*/
//**
// * These mixins are for the library to use only, you should not need to modify
// * them at all.
// *
// * Enclose a block of code with a media query as named in `$grid--breakpoints`.
// */
@mixin grid-media-query($media-query){
    $breakpoint-found: false;

    @each $breakpoint in $grid--breakpoints{
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @if $media-query == $name and $declaration{
            $breakpoint-found: true;

            @media only screen and #{$declaration}{
                @content;
            }
        }
    }

    @if $breakpoint-found == false{
        @warn "Breakpoint ‘#{$media-query}’ does not exist"
    }
}


//**
// * Drop relative positioning into silent classes which can’t take advantage of
// * the `[class*="push--"]` and `[class*="pull--"]` selectors.
// */
@mixin silent-relative(){
    @if $grid--use-silent-classes == true{
        position:relative;
    }
}





//*------------------------------------*\
//    $GRID SETUP
//*------------------------------------*/
//**
// * 1. Use (new) flex-box if supported.
// * 2. Allow the grid system to be used on lists.
// * 3. Remove any margins and paddings that might affect the grid system.
// * 4. Apply a negative `margin-left` to negate the columns’ gutters.
// * 5. Use standard grid on Firefox < 28 because it does not support flex-flow
// */
#{$grid--class-type}grid{
    display: -webkit-flex;                       //* [1] */
    display: -ms-flexbox;                        //* [1] */
    display: flex;                               //* [1] */
    -webkit-flex-flow: row wrap;                 //* [1] */
    -ms-flex-flow: row wrap;                     //* [1] */
    flex-flow: row wrap;                         //* [1] */
    list-style:none;                             //* [2] */
    margin:0;                                    //* [3] */
    padding:0;                                   //* [3] */
    @include rem("margin-left", -$grid--gutter); //* [4] */
    @supports not (flex-wrap: wrap) {            //* [5] */
            display: block; 
    }
    @if $grid--use-markup-fix != true{
        letter-spacing:-0.31em;
    }
}

@if $grid--use-markup-fix != true{
    //* Opera hack */
    .opera:-o-prefocus,
    #{$grid--class-type}grid{
        word-spacing:-0.43em;
    }
}


    //**
    // * 1. Cause columns to stack side-by-side.
    // * 2. Space columns apart.
    // * 3. Align columns to the tops of each other.
    // * 4. Full-width unless told to behave otherwise.
    // * 5. Required to combine fluid widths and fixed gutters.
    // */
    #{$grid--class-type}grid__item{
        display:inline-block;                        //* [1] */
        @include rem("padding-left", $grid--gutter); //* [2] */
        vertical-align:top;                          //* [3] */
        @if $grid--mobile-first == true{
            width:100%;                              //* [4] */
        }
        -webkit-box-sizing:border-box;               //* [5] */
           -moz-box-sizing:border-box;               //* [5] */
                box-sizing:border-box;               //* [5] */
        @if $grid--use-markup-fix != true{
            letter-spacing:normal;
            word-spacing:normal;
        }
    }


//**
// * Reversed grids allow you to structure your source in the opposite order to
// * how your rendered layout will appear. Extends `.grid`.
// */
#{$grid--class-type}grid--rev{
    direction:rtl;
    -webkit-flex-flow: wrap-reverse row;
    -ms-flex-flow: wrap-reverse row;
    flex-flow: wrap-reverse row;
    text-align:left;
}

#{$grid--class-type}grid--rev__item{
    direction:ltr;
    text-align:left;
}

//**
// * Gutterless grids have all the properties of regular grids, minus any spacing.
// * Extends `.grid`.
// */
#{$grid--class-type}grid--full{
    margin-left:0;

}

#{$grid--class-type}grid--full__item{
    padding-left:0;
}

//**
// * Align the entire grid to the right. Extends `.grid`.
// */
#{$grid--class-type}grid--right{
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align:right;
}

#{$grid--class-type}grid--right__item{
    text-align:left;
}

//**
// * Centered grids align grid items centrally without needing to use push or pull
// * classes. Extends `.grid`.
// */
#{$grid--class-type}grid--center{
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align:center;

}

#{$grid--class-type}grid--center__item{
    text-align:left;
}


//**
// * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
// * `.grid`.
// */
#{$grid--class-type}grid--middle{
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#{$grid--class-type}grid--middle__item{
    vertical-align:middle;
}

#{$grid--class-type}grid--bottom{
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#{$grid--class-type}grid--bottom__item{
    vertical-align:bottom;
}

//**
// * Create grids with narrower gutters. Extends `.grid`.
// */
#{$grid--class-type}grid--narrow{
    @include rem("margin-left", (-$grid--gutter / 2));
}

#{$grid--class-type}grid--narrow__item{
    @include rem("padding-left", ($grid--gutter / 2));
}


//**
// * Create grids with wider gutters. Extends `.grid`.
// */
#{$grid--class-type}grid--wide{
    @include rem("margin-left", (-$grid--gutter * 2 ));
}

#{$grid--class-type}grid--wide__item{
    @include rem("padding-left", ($grid--gutter * 2));
}


//*------------------------------------*\
//    $WIDTHS
//*------------------------------------*/
//**
// * Create our width classes, prefixed by the specified namespace.
// */
@mixin device-type($namespace:""){


    //**
    // * Whole
    // */
    #{$grid--class-type}#{$namespace}one-whole         { width:100%; }


    //**
    // * Halves
    // */
    #{$grid--class-type}#{$namespace}one-half          { width:50%; }


    //**
    // * Thirds
    // */
    #{$grid--class-type}#{$namespace}one-third         { width:33.333%; }
    #{$grid--class-type}#{$namespace}two-thirds        { width:66.666%; }


    //**
    // * Quarters
    // */
    #{$grid--class-type}#{$namespace}one-quarter       { width:25%; }
    #{$grid--class-type}#{$namespace}two-quarters      { @extend #{$grid--class-type}#{$namespace}one-half; }
    #{$grid--class-type}#{$namespace}three-quarters    { width:75%; }


    //**
    // * Fifths
    // */
    #{$grid--class-type}#{$namespace}one-fifth         { width:20%; }
    #{$grid--class-type}#{$namespace}two-fifths        { width:40%; }
    #{$grid--class-type}#{$namespace}three-fifths      { width:60%; }
    #{$grid--class-type}#{$namespace}four-fifths       { width:80%; }


    //**
    // * Sixths
    // */
    #{$grid--class-type}#{$namespace}one-sixth         { width:16.666%; }
    #{$grid--class-type}#{$namespace}two-sixths        { @extend #{$grid--class-type}#{$namespace}one-third; }
    #{$grid--class-type}#{$namespace}three-sixths      { @extend #{$grid--class-type}#{$namespace}one-half; }
    #{$grid--class-type}#{$namespace}four-sixths       { @extend #{$grid--class-type}#{$namespace}two-thirds; }
    #{$grid--class-type}#{$namespace}five-sixths       { width:83.333%; }


    //**
    // * Eighths
    // */
    #{$grid--class-type}#{$namespace}one-eighth        { width:12.5%; }
    #{$grid--class-type}#{$namespace}two-eighths       { @extend #{$grid--class-type}#{$namespace}one-quarter; }
    #{$grid--class-type}#{$namespace}three-eighths     { width:37.5%; }
    #{$grid--class-type}#{$namespace}four-eighths      { @extend #{$grid--class-type}#{$namespace}one-half; }
    #{$grid--class-type}#{$namespace}five-eighths      { width:62.5%; }
    #{$grid--class-type}#{$namespace}six-eighths       { @extend #{$grid--class-type}#{$namespace}three-quarters; }
    #{$grid--class-type}#{$namespace}seven-eighths     { width:87.5%; }


    //**
    // * Tenths
    // */
    #{$grid--class-type}#{$namespace}one-tenth         { width:10%; }
    #{$grid--class-type}#{$namespace}two-tenths        { @extend #{$grid--class-type}#{$namespace}one-fifth; }
    #{$grid--class-type}#{$namespace}three-tenths      { width:30%; }
    #{$grid--class-type}#{$namespace}four-tenths       { @extend #{$grid--class-type}#{$namespace}two-fifths; }
    #{$grid--class-type}#{$namespace}five-tenths       { @extend #{$grid--class-type}#{$namespace}one-half; }
    #{$grid--class-type}#{$namespace}six-tenths        { @extend #{$grid--class-type}#{$namespace}three-fifths; }
    #{$grid--class-type}#{$namespace}seven-tenths      { width:70%; }
    #{$grid--class-type}#{$namespace}eight-tenths      { @extend #{$grid--class-type}#{$namespace}four-fifths; }
    #{$grid--class-type}#{$namespace}nine-tenths       { width:90%; }


    //**
    // * Twelfths
    // */
    #{$grid--class-type}#{$namespace}one-twelfth       { width:8.333%; }
    #{$grid--class-type}#{$namespace}two-twelfths      { @extend #{$grid--class-type}#{$namespace}one-sixth; }
    #{$grid--class-type}#{$namespace}three-twelfths    { @extend #{$grid--class-type}#{$namespace}one-quarter; }
    #{$grid--class-type}#{$namespace}four-twelfths     { @extend #{$grid--class-type}#{$namespace}one-third; }
    #{$grid--class-type}#{$namespace}five-twelfths     { width:41.666% }
    #{$grid--class-type}#{$namespace}six-twelfths      { @extend #{$grid--class-type}#{$namespace}one-half; }
    #{$grid--class-type}#{$namespace}seven-twelfths    { width:58.333%; }
    #{$grid--class-type}#{$namespace}eight-twelfths    { @extend #{$grid--class-type}#{$namespace}two-thirds; }
    #{$grid--class-type}#{$namespace}nine-twelfths     { @extend #{$grid--class-type}#{$namespace}three-quarters; }
    #{$grid--class-type}#{$namespace}ten-twelfths      { @extend #{$grid--class-type}#{$namespace}five-sixths; }
    #{$grid--class-type}#{$namespace}eleven-twelfths   { width:91.666%; }


}


//**
// * Our regular, non-responsive width classes.
// */
@include device-type();


//**
// * Our responsive classes, if we have enabled them.
// */
@if $grid--responsive == true{

    @each $name in $grid--breakpoint-has-widths {
        @include grid-media-query($name) {
           @include device-type('#{$name}--');
        }
    }


}





//*------------------------------------*\
//    $PUSH
//*------------------------------------*/
//**
// * Push classes, to move grid items over to the right by certain amounts.
// */
@mixin push-setup($namespace: ""){

    //**
    // * Whole
    // */
    #{$grid--class-type}push--#{$namespace}one-whole           { left:100%; @include silent-relative(); }


    //**
    // * Halves
    // */
    #{$grid--class-type}push--#{$namespace}one-half            { left:50%; @include silent-relative(); }


    //**
    // * Thirds
    // */
    #{$grid--class-type}push--#{$namespace}one-third           { left:33.333%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}two-thirds          { left:66.666%; @include silent-relative(); }


    //**
    // * Quarters
    // */
    #{$grid--class-type}push--#{$namespace}one-quarter         { left:25%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}two-quarters        { @extend #{$grid--class-type}push--#{$namespace}one-half; }
    #{$grid--class-type}push--#{$namespace}three-quarters      { left:75%; @include silent-relative(); }


    //**
    // * Fifths
    // */
    #{$grid--class-type}push--#{$namespace}one-fifth           { left:20%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}two-fifths          { left:40%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}three-fifths        { left:60%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}four-fifths         { left:80%; @include silent-relative(); }


    //**
    // * Sixths
    // */
    #{$grid--class-type}push--#{$namespace}one-sixth           { left:16.666%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}two-sixths          { @extend #{$grid--class-type}push--#{$namespace}one-third; }
    #{$grid--class-type}push--#{$namespace}three-sixths        { @extend #{$grid--class-type}push--#{$namespace}one-half; }
    #{$grid--class-type}push--#{$namespace}four-sixths         { @extend #{$grid--class-type}push--#{$namespace}two-thirds; }
    #{$grid--class-type}push--#{$namespace}five-sixths         { left:83.333%; @include silent-relative(); }


    //**
    // * Eighths
    // */
    #{$grid--class-type}push--#{$namespace}one-eighth          { left:12.5%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}two-eighths         { @extend #{$grid--class-type}push--#{$namespace}one-quarter; }
    #{$grid--class-type}push--#{$namespace}three-eighths       { left:37.5%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}four-eighths        { @extend #{$grid--class-type}push--#{$namespace}one-half; }
    #{$grid--class-type}push--#{$namespace}five-eighths        { left:62.5%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}six-eighths         { @extend #{$grid--class-type}push--#{$namespace}three-quarters; }
    #{$grid--class-type}push--#{$namespace}seven-eighths       { left:87.5%; @include silent-relative(); }


    //**
    // * Tenths
    // */
    #{$grid--class-type}push--#{$namespace}one-tenth           { left:10%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}two-tenths          { @extend #{$grid--class-type}push--#{$namespace}one-fifth; }
    #{$grid--class-type}push--#{$namespace}three-tenths        { left:30%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}four-tenths         { @extend #{$grid--class-type}push--#{$namespace}two-fifths; }
    #{$grid--class-type}push--#{$namespace}five-tenths         { @extend #{$grid--class-type}push--#{$namespace}one-half; }
    #{$grid--class-type}push--#{$namespace}six-tenths          { @extend #{$grid--class-type}push--#{$namespace}three-fifths; }
    #{$grid--class-type}push--#{$namespace}seven-tenths        { left:70%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}eight-tenths        { @extend #{$grid--class-type}push--#{$namespace}four-fifths; }
    #{$grid--class-type}push--#{$namespace}nine-tenths         { left:90%; @include silent-relative(); }


    //**
    // * Twelfths
    // */
    #{$grid--class-type}push--#{$namespace}one-twelfth         { left:8.333%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}two-twelfths        { @extend #{$grid--class-type}push--#{$namespace}one-sixth; }
    #{$grid--class-type}push--#{$namespace}three-twelfths      { @extend #{$grid--class-type}push--#{$namespace}one-quarter; }
    #{$grid--class-type}push--#{$namespace}four-twelfths       { @extend #{$grid--class-type}push--#{$namespace}one-third; }
    #{$grid--class-type}push--#{$namespace}five-twelfths       { left:41.666%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}six-twelfths        { @extend #{$grid--class-type}push--#{$namespace}one-half; }
    #{$grid--class-type}push--#{$namespace}seven-twelfths      { left:58.333%; @include silent-relative(); }
    #{$grid--class-type}push--#{$namespace}eight-twelfths      { @extend #{$grid--class-type}push--#{$namespace}two-thirds; }
    #{$grid--class-type}push--#{$namespace}nine-twelfths       { @extend #{$grid--class-type}push--#{$namespace}three-quarters; }
    #{$grid--class-type}push--#{$namespace}ten-twelfths        { @extend #{$grid--class-type}push--#{$namespace}five-sixths; }
    #{$grid--class-type}push--#{$namespace}eleven-twelfths     { left:91.666%; @include silent-relative(); }
}

@if $grid--push == true {

    //**
    // * Not a particularly great selector, but the DRYest way to do things.
    // */
    [class*="push--"]{ position:relative; }


    @include push-setup();


    @if $grid--responsive == true{
        @each $name in $grid--breakpoint-has-push {
            @include grid-media-query($name) {
               @include  push-setup('#{$name}--');
            }
        }
    }


}





//*------------------------------------*\
//    $PULL
//*------------------------------------*/
//**
// * Pull classes, to move grid items back to the left by certain amounts.
// */
@mixin pull-setup($namespace: ""){

    //**
    // * Whole
    // */
    #{$grid--class-type}pull--#{$namespace}one-whole           { right:100%; @include silent-relative(); }


    //**
    // * Halves
    // */
    #{$grid--class-type}pull--#{$namespace}one-half            { right:50%; @include silent-relative(); }


    //**
    // * Thirds
    // */
    #{$grid--class-type}pull--#{$namespace}one-third           { right:33.333%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}two-thirds          { right:66.666%; @include silent-relative(); }


    //**
    // * Quarters
    // */
    #{$grid--class-type}pull--#{$namespace}one-quarter         { right:25%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}two-quarters        { @extend #{$grid--class-type}pull--#{$namespace}one-half; }
    #{$grid--class-type}pull--#{$namespace}three-quarters      { right:75%; @include silent-relative(); }


    //**
    // * Fifths
    // */
    #{$grid--class-type}pull--#{$namespace}one-fifth           { right:20%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}two-fifths          { right:40%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}three-fifths        { right:60%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}four-fifths         { right:80%; @include silent-relative(); }


    //**
    // * Sixths
    // */
    #{$grid--class-type}pull--#{$namespace}one-sixth           { right:16.666%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}two-sixths          { @extend #{$grid--class-type}pull--#{$namespace}one-third; }
    #{$grid--class-type}pull--#{$namespace}three-sixths        { @extend #{$grid--class-type}pull--#{$namespace}one-half; }
    #{$grid--class-type}pull--#{$namespace}four-sixths         { @extend #{$grid--class-type}pull--#{$namespace}two-thirds; }
    #{$grid--class-type}pull--#{$namespace}five-sixths         { right:83.333%; @include silent-relative(); }


    //**
    // * Eighths
    // */
    #{$grid--class-type}pull--#{$namespace}one-eighth          { right:12.5%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}two-eighths         { @extend #{$grid--class-type}pull--#{$namespace}one-quarter; }
    #{$grid--class-type}pull--#{$namespace}three-eighths       { right:37.5%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}four-eighths        { @extend #{$grid--class-type}pull--#{$namespace}one-half; }
    #{$grid--class-type}pull--#{$namespace}five-eighths        { right:62.5%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}six-eighths         { @extend #{$grid--class-type}pull--#{$namespace}three-quarters; }
    #{$grid--class-type}pull--#{$namespace}seven-eighths       { right:87.5%; @include silent-relative(); }


    //**
    // * Tenths
    // */
    #{$grid--class-type}pull--#{$namespace}one-tenth           { right:10%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}two-tenths          { @extend #{$grid--class-type}pull--#{$namespace}one-fifth; }
    #{$grid--class-type}pull--#{$namespace}three-tenths        { right:30%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}four-tenths         { @extend #{$grid--class-type}pull--#{$namespace}two-fifths; }
    #{$grid--class-type}pull--#{$namespace}five-tenths         { @extend #{$grid--class-type}pull--#{$namespace}one-half; }
    #{$grid--class-type}pull--#{$namespace}six-tenths          { @extend #{$grid--class-type}pull--#{$namespace}three-fifths; }
    #{$grid--class-type}pull--#{$namespace}seven-tenths        { right:70%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}eight-tenths        { @extend #{$grid--class-type}pull--#{$namespace}four-fifths; }
    #{$grid--class-type}pull--#{$namespace}nine-tenths         { right:90%; @include silent-relative(); }


    //**
    // * Twelfths
    // */
    #{$grid--class-type}pull--#{$namespace}one-twelfth         { right:8.333%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}two-twelfths        { @extend #{$grid--class-type}pull--#{$namespace}one-sixth; }
    #{$grid--class-type}pull--#{$namespace}three-twelfths      { @extend #{$grid--class-type}pull--#{$namespace}one-quarter; }
    #{$grid--class-type}pull--#{$namespace}four-twelfths       { @extend #{$grid--class-type}pull--#{$namespace}one-third; }
    #{$grid--class-type}pull--#{$namespace}five-twelfths       { right:41.666%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}six-twelfths        { @extend #{$grid--class-type}pull--#{$namespace}one-half; }
    #{$grid--class-type}pull--#{$namespace}seven-twelfths      { right:58.333%; @include silent-relative(); }
    #{$grid--class-type}pull--#{$namespace}eight-twelfths      { @extend #{$grid--class-type}pull--#{$namespace}two-thirds; }
    #{$grid--class-type}pull--#{$namespace}nine-twelfths       { @extend #{$grid--class-type}pull--#{$namespace}three-quarters; }
    #{$grid--class-type}pull--#{$namespace}ten-twelfths        { @extend #{$grid--class-type}pull--#{$namespace}five-sixths; }
    #{$grid--class-type}pull--#{$namespace}eleven-twelfths     { right:91.666%; @include silent-relative(); }
}

@if $grid--pull == true{

    //**
    // * Not a particularly great selector, but the DRYest way to do things.
    // */
    [class*="pull--"]{ position:relative; }


    @include pull-setup();


    @if $grid--responsive == true{
        @each $name in $grid--breakpoint-has-pull {
            @include grid-media-query($name) {
               @include  pull-setup('#{$name}--');
            }
        }
    }

}
