<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
  <title>{{ $title }}</title>

  <meta name="description" content="{{ .Description }}">
  <link rel="author" href="{{ "static/humans.txt" | relURL }}" />
  {{ if .Permalink }} 
    <link rel="canonical" href="{{ .Permalink }}">
  {{ end }}

  <link rel="manifest" href="{{ "static/manifest.json" | relURL }}">
  <meta name="application-name" content="{{ $title }}">

  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ $title }}" />
  {{ end }}

  <link rel="stylesheet" href="{{ "static/styles/main.css" | relURL }}">
  {{ if .Site.Params.blaupause.useModernizr }}
  <script defer src="{{ "static/scripts/vendor/modernizr-custom.js" | relURL }}"></script>
  {{ end }}
  <script defer src="{{ "static/scripts/main.js" | relURL }}"></script>
</head>
<body>
