<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
  <link rel="author" href="{{ .Site.BaseURL }}/static/humans.txt" />
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="manifest" href="{{ .Site.BaseURL }}/static/manifest.json">
  <meta name="application-name" content="{{ .Title }}">
  <link rel="icon" sizes="512x512" href="{{ .Site.BaseURL }}/static/images/icon.png">

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/static/styles/main.css">
  <script src="{{ .Site.BaseURL }}/static/scripts/vendor/modernizr.js"></script>
</head>
<body>
