
////
/// Typography
/// MIT-License © 2016
/// @author Felix Spöttel
////

// Workaround until sanitize 4.x is released, see https://github.com/10up/sanitize.css/pull/95
:root {
  font-size: if(variable-exists(root-font-size), $root-font-size, 100%);
  line-height: if(variable-exists(root-line-height), $root-line-height, 1.5);
}

audio,
embed,
iframe,
img,
object,
video {
  max-width: 100%;
  height: auto;
}
