{
  "presets": [["env", {
    "targets": {
      "browsers": ["last 2 versions"],
    },
    "loose": true,
    "modules": false,
    "useBuiltIns": true
  }]],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "production": {
      "plugins" : []
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
