{
  "extends": "stylelint-config-standard",
  "ignoreFiles": "app/styles/vendors/**",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        ignoreAtRules: ["each", "extend", "function", "if", "mixin", "return"]
      }
    ]
  }
}
