
// *    Lists
// * ---------------------
// * Lists.
// * ---------------------

// * Remove vertical spacing from nested lists

li,
#{type(base,content-namespace)} li{
    > ul,
    > ol {
        margin-bottom:0;
    }
}

#{type(base,content-namespace)} li {
    >ul,
    >ol {
        margin-left: sizing(type)+em;
    }
}

// * Have a numbered `ul` without the semantics implied by using an `ol`.

.numbered-list {
    list-style-type:decimal;
}


// * Definition lists

dt {
    font-weight: bold;
}