
// *    Build
// * ---------------------
// * Build file, handle with care.
// * ---------------------

// * Build config

$blaupause: (
    components: (
        use-components:    true,
        block-list:        true,
        blocks:            true,
        fixed-backgrounds: true,
        image-grid:        true,
        media-element:     true,
        nav:               true,
        pricing-list:      true,
        split:             true,
        stats:             true,
        text-columns:      true
    ),
    test:(
        boolean: false
    )
);

@function blaupause($group, $option) {
    @return map-get(map-get($blaupause, $group), $option);
}


// * Base units

@import "config/base";

// * Get the mixins first -the config may depend on them -> folder: global/mixins

@import "global/mixins/absolutely-center-child";
@import "global/mixins/breakpoints";
@import "global/mixins/clearfix";
@import "global/mixins/columns";
@import "global/mixins/colorfunctions";
@import "global/mixins/delay";
@import "global/mixins/easing";
@import "global/mixins/font-face";
@import "global/mixins/font-stacks";
@import "global/mixins/modular-scale";
@import "global/mixins/rem";

// * Global variable cache. Colors first. -> folder: /config

@import "config/type";
@import "config/units";
@import "config/colors";
@import "config/brand";
@import "config/mediaqueries";

// * Reset (normalize.css 3.0.0 && border-box-model)

@import "global/reset";

// * Layout files -> folder: layout
// * The grid is based on my fork of csswizardry-grids

@import "global/layout/fundament";

// * Typography -> folder: global/typography

@import "global/typography/code";
@import "global/typography/fontface";
@import "global/typography/headings";
@import "global/typography/links";
@import "global/typography/lists";
@import "global/typography/main";
@import "global/typography/media";
@import "global/typography/quotes";
@import "global/typography/selections";

// * UI abstractions -> folder: global/elements

@import "global/elements/animations";
@import "global/elements/brand";
@import "global/elements/buttons";
@import "global/elements/forms";
@import "global/elements/icons";
@import "global/elements/tables";

// * Global stylesheets -> folder: global

@import "global/shame";
@import "global/styles";

// * Components -> folder: components

@import "components/block-list";
@import "components/blocks";
@import "components/fixed-backgrounds";
@import "components/image-grid";
@import "components/media-element";
@import "components/nav";
@import "components/pricing-table";
@import "components/split";
@import "components/stats";
@import "components/text-columns";

// * Local stylesheets (pages, modules)

@import "locals/styles";
