<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
  <link rel="author" href="{{ "static/humans.txt" | relURL }}" />
  <link rel="canonical" href="{{ .Permalink }}">

  <link rel="manifest" href="{{ "static/manifest.json" | relURL }}">
  <meta name="application-name" content="{{ .Title }}">

  <link rel="stylesheet" href="{{ "static/styles/main.css" | relURL }}">
  <script async src="{{ "static/scripts/vendor/modernizr-custom.js" | relURL }}"></script>
</head>
<body>
