
////
/// Variables
/// MIT-License © 2016
/// @author Felix Spöttel
/// @group Config
////

/// System font stack, see: https://bitsofco.de/the-new-system-font-stack/
/// @type {List}
$system-font-stack:
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  sans-serif;

/// Regular font family
/// @type {List}
$text-font-stack: $system-font-stack !default;

/// Text line-height
/// @type {Number}
$text-line-height: 1.5 !default;

/// Background color
/// @type {Color}
$color-background: #fff !default;

/// Copy text-color
/// @type {Color}
$color-text: #232323 !default;

/// Brand color
/// @type {Color}
$color-brand: #2271ff !default;

/// Webfont-path prefix
/// @type {String}
$path-webfonts: "webfonts/" !default;

/// Image-path prefix
/// @type {String}
$path-images: "../images/" !default;
