
// *    Blocks
// * ---------------------
// * Blocked off content.
// *
// @ usage:
// * <div class="block  block--small">
// * </div>
// * ---------------------

$color__blocks--background: palette(primary);
$color__blocks--text:       palette(background);

$blocks: (
    background: palette(primary),
    color: palette(background)
);

@function blocks($val) {
    @return map-get($blocks, $val);
}

.blocked {
    display: block;
    padding: rhythm(base)+em;
    background: blocks(background);
    color: blocks(color);
}

.blocked--small {
    padding: (rhythm(base) / 2 +em);
}