
// *    Fixed background-scrolling images
// * ---------------------
// * This file contains markup and styles to produce a fixed background image effect.
// @ usage:
// * <section class="fixed  fixed--1">
// *   <div class="fixed__inner">
// *       <div class="fixed__content">
// *          /*Content here*/
// *       </div>
// *   </div>
// * </section>
// * <section class="fixed__contrast">
// *  /* Some content */
// * </section>
// * ---------------------

// * Variables

$color__fixedContent: #fff !default;
$fixedBg__height: 360px !default;

// * Background-images declarations
// * Must be declared before other styles
// * ---------------------

.fixed--1 { }

.fixed--2 { }

// * Core

.fixed,
.fixed__contrast {
    width: 100%;
    position: relative;
}

// * Hero styles

.fixed {
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.fixed__inner {
    position: relative;
    // * Sizing goes here
    min-height: $fixedBg__height;
}

// * Center the content

.fixed__content {
    color: $color__fixedContent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

// * Declare a .content-background for effect

.fixed__contrast { 
    background: $color__background;
}

