
// *    Fixed background-scrolling images
// * ---------------------
// * This file contains markup and styles to produce a fixed background image effect.
// * Be careful with big images.
// * [Has a flex-box variant]
// *
// @ usage:
// * <section class="fixed  fixed--1">
// *   <div class="fixed__inner">
// *       <div class="fixed__content">
// *          /*Content here*/
// *       </div>
// *   </div>
// * </section>
// * <section class="fixed__contrast">
// *  ...
// * </section>
// * ---------------------

// * Variables

$color__fixed--content: #fff !default;
$fixed--height:         360px !default;

// * Background-images declarations
// * Must be declared before other styles
// * ---------------------

.fixed--1 { }

.fixed--2 { }

// * Core

.fixed,
.fixed__contrast {
    width: 100%;
    position: relative;
}

// * Hero styles

.fixed {
    text-align: center;
    background-size: cover;
    @extend %fixed--center;
    background-attachment: fixed;
}

.fixed__inner {
    min-height: $fixed--height;
    @include center-child(".fixed__content");
    margin: 0;
    width: 100%;
}

// * Center the content

.fixed__content {
    color: $color__fixed--content;
    margin: 0 !important;
}

// * Declare a .content-background for effect

.fixed__contrast { 
    background: $color--background;
}

// * Background-position modifiers

%fixed--left {
    background-position: left center;
}

%fixed--center {
    background-position: center center;
}


%fixed--right {
    background-position: right center;
}


