
// *    Media-Element
// * ---------------------
// * Place any content next to an image.
// * [Has a flex-box variant]
// * // * Inspired by inuit.css (by Harry Roberts)
// * // * Original concept by stubornella
// *
// @ usage:
// * <figure class="media">
// *     <img src="" />
// *     <figcaption (class="media__caption")>
// *     </figcaption>
// * </figure>
// * ---------------------

// * Core

.media {
    display: block;
    @include cf();
}

.media > img {
    float: left;
    margin-right: $base--rhythm-unit +em;
}

.media__caption,
.media > figcaption {
    overflow: hidden;
}

// * Modifiers

.media--rev {
    > img {
        float: right;
        margin-left: $base--rhythm-unit +em;
        margin-right: 0;
    }
}