
// *    Pricing Table
// * ---------------------
// * Simple pricing-table abstraction.
// * Requires `_blocks.scss` && `_block-list.scss`. Can be used with splits
// *
// @ usage:
// * <article class="pricing">
// * <header (class="pricing__header")>
// *     <h1>Premium</h1>
// * </header>
// * <ul (class="pricing__list")>
// *     <li>...
// *     <li>....
// * </ul>
// * <footer>
// * ....
// * </footer>
// * ---------------------

.pricing {
    text-align: center;
    header,
    footer {
        @extend .blocked;
    }
    &__list,
    ul {
        @extend .block-list;
        border-top: 0;
        li {
            border-left: brand(border-width) solid palette(border);
            border-right: brand(border-width) solid palette(border);
            padding-left: sizing(base)+em;
            padding-right: sizing(base)+em;
        }
    }
}

