//*------------------------------------*\
//     $CODE
//*------------------------------------*/
// Code-styling.
//---------------------------------

pre {
    overflow: auto;
    white-space: pre-wrap;
    mark { //(from normalize.css)
        background: none;
        color: inherit;
        border-bottom: 1px solid;
    }
 }

 code,
 kbd,
 pre,
 samp {
    font-family: monospace, serif;
    font-size: 1em;
 }

 // Prevent `sub` and `sup` affecting `line-height` in all browsers. (from normalize.css)

 sub,
 sup {
    position: relative;
    line-height: 0;
    font-size: 75%;
    vertical-align: baseline;
 }

 sup {
    top: -0.5em;
 }

 sub {
    bottom: -0.25em;
 }
 