
// *    Code
// * ---------------------
// * Code-styling.
// * ---------------------

//** Normalize.css
// * 1. Correct font family set oddly in Safari 5 and Chrome.
// */

pre {
    mark {
        background: none;
        border-bottom: 1px solid;
        color: inherit;
    }
}
