//*------------------------------------*\
//     $CODE
//*------------------------------------*/
// Code-styling.
//---------------------------------

pre {
    overflow:auto;
    mark {
        background:none;
        border-bottom:1px solid;
        color:inherit;
    }
 }

