//*------------------------------------*\
//     $TYPE CONFIG
//*------------------------------------*/
//  Contents:
//  [1]. Base
//  [2]. Typographic Scale
//  [3]. Font-Stacks
//  [4]. Links
//---------------------------------

// Base

$scale-base:        $base-size; // Default: 16
$line-height-ratio: $ratio !default;

// Namespace for content-typography ( introduces vertical rhtythm for type, gives content heading hook )

$content-namespace: unquote(".content");

// Typographc Scale
// - $scale-base will be calculating vertical rhythm (body font-size) & margins between typographic content-elements (w/ line-height)
// - $scale-base is equal to $base-size by default. $base-size is used to calcualte the $base-sizing-unit & grid-gutters.
//   So by default, the spacing is coupled with sizing, but you can (although not recommended) decouple them.
// - The scale works manually. Scale values get divided by $browserDefault to get real pixel `rem`values. Changing $scale-base doesn't affect the scale
// - Changing the <html>-font-size (set in %) scales the whole typography, incl. margins.

$scaleU:  96 !default; // kilo
$scaleM:  84 !default; // mega
$scaleG:  72 !default; // giga
$scale1:  60 !default; // h1, alpha
$scale2:  48 !default; // h2, beta
$scale3:  36 !default; // h3, gamma
$scale4:  24 !default; // h4, delta
$scale5:  21 !default; // h5, epsilon
$scale6:  18 !default; // h6, zeta

// Font-stacks

$typeface__primary:   sans-serif;
$typeface__secondary: serif;

// Links

$link__decoration: none;
