
// *    Headings
// * ---------------------
// * Contents:
// *   [1]. Variables & size-declarations
// *   [2]. General heading styles
// *   [3]. Font-size declarations
// * ---------------------

//  Variables & size declarations
//  @ size from "config" > scale

$heading1: $scale1;
$heading2: $scale2;
$heading3: $scale3;
$heading4: $scale4;
$heading5: $scale5;
$heading6: $scale6;
$mega:     $scaleM;
$giga:     $scaleG;
$ultra:    $scaleU;

$type__heading: $type__secondary;
$type__headingRatio: 1.25 !default;
$type__headingWeight: 700 !default;

//  Genereal heading styles
//      [1]. Inherited from var/colors
//      [2]. Inherited from config

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color__heading; //[1]
    font-family: $type__heading; //[2]
    font-feature-settings: "kern", "liga";
    font-weight: $type__headingWeight;
    line-height: 1;
    margin: 0;
    text-rendering: optimizeLegibility; // [3]
}

// Font Size Declarations
// Class names can be used if hierarchy is different from size

.ultra {
    @include rem( "font-size", $ultra );
}

.giga {
    @include rem( "font-size", $giga );
}

.mega {
    @include rem( "font-size", $mega );
}

h1,
.alpha {
    @include rem( "font-size", $heading1 );
}

h2,
.beta {
    @include rem( "font-size", $heading2 );
}

h3,
.gamma {
    @include rem( "font-size", $heading3 );
}

h4,
.delta {
    @include rem("font-size", $heading4);
}

h5,
.epsilon {
    @include rem( "font-size", $heading5 );
}

h6,
.zeta {
    @include rem( "font-size", $heading6 );
}

.vR--heading {
    line-height: $type__headingRatio;
}

// Content headings
#{$contentNamespace} h1,
#{$contentNamespace} h2,
#{$contentNamespace} h3,
#{$contentNamespace} h4,
#{$contentNamespace} h5,
#{$contentNamespace} h6, {
    @extend .vR--heading;
}
