//*------------------------------------*\
//     $LINKS
//*------------------------------------*/
// Links
//---------------------------------

a {
    background: transparent; //(from normalize.css)
    color: $color__link;
    line-height: inherit;
    text-decoration: $type__linkDecoration;
    img {
        border:none;
    }
}

 a {
    &:hover {
        color: $color__linkHover;
        outline: none;
    }
}
