//*------------------------------------*\
//     $LINKS
//*------------------------------------*/
// Links
//---------------------------------

//** Normalize.css
// * 1. Remove the gray background color from active links in IE 10.
// * 2. Improve readability when focused and also mouse hovered in all browsers.
// */

a {
    background: transparent; // 1.
    color: $color__link;
    line-height: inherit;
    text-decoration: $type__linkDecoration;
    img {
        border:none;
    }
}

a {
    a:active,
    &:hover {
        color: $color__linkHover;
        outline: 0; // 2.
    }
}
