
// *    Lists
// * ---------------------
// * Lists.
// * ---------------------

// * Remove vertical spacing from nested lists

li,
#{$base--content-namespace} li{
    > ul,
    > ol {
        margin-bottom:0;
    }
}

#{$base--content-namespace} li {
    >ul,
    >ol {
        margin-left: $type--sizing-unit+ em;
    }
}

// * Have a numbered `ul` without the semantics implied by using an `ol`.

.numbered-list {
    list-style-type:decimal;
}


// * Definition lists

dt {
    font-weight: bold;
}