//*------------------------------------*\
//     $LISTS
//*------------------------------------*/
// Lists.
//---------------------------------

// Remove vertical spacing from nested lists

li,
#{$contentNamespace} li{
    > ul,
    > ol {
        margin-bottom:0;
    }
}

#{$contentNamespace} li {
    >ul,
    >ol {
        margin-left: $type__sizingUnit+ em;
    }
}

// Have a numbered `ul` without the semantics implied by using an `ol`.

.numbered-list{
    list-style-type:decimal;
}
