
// *    Typography Base
// * ---------------------
// * Basic type-setting
// * ---------------------

// * Responsive typography

$palm--font-size: 87.5%;
$lap--font-size: 87.5%;
$desk--font-size: 100%;
$high--font-size: 112.5%;

// * Core

html,
textarea,
input,
select {
    font-family: $font--primary;
    font-size: $palm--font-size;
    line-height: $type--ratio;
    @include bp(lap) {
        font-size: $lap--font-size;
    }
    @include bp(desk) {
        font-size: $desk--font-size;
    }
    @include bp(high) {
        font-size: $high--font-size;
    }
}

body {
    @include rem( "font-size", $type--scale-base );
    color: $color__type--text;
}

// * Typographic reset

div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

// * Vertical rhythm class
// * By default coupled to $base--ratio & $base--size, but it can be uncoupled by setting $type--scaleBase &&|| $type--ratio

.vR{
    margin-top: 0;
    @include rem( "margin-bottom", $type--rhythm-number);
}

// * Content typography

#{$base--content-namespace} {
    font-family: $font--primary;
}

#{$base--content-namespace} div,
#{$base--content-namespace} dl,
#{$base--content-namespace} figure,
#{$base--content-namespace} ol,
#{$base--content-namespace} ul,
#{$base--content-namespace} p,
#{$base--content-namespace} blockquote,
#{$base--content-namespace} table {
    @extend .vR;
}

// * Modifiers

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

small { 
    font-size: 80%;
 }
 