//*------------------------------------*\
//     $TYPE-BASE
//*------------------------------------*/
// Basic type-settings.
//---------------------------------

$type__body:     $type__primary;
$type__content:  $type__secondary;

$palmFontSize: 75%;   // 12px baseline 
$lapFontSize:  87.5%; // 14px baseline
$deskFontSize: 100%;  // 16px baseline

// Core declaration

html,
textarea,
input,
select {
    font-family: $type__body;
    font-size: $palmFontSize;
    line-height: $type__ratio;
    @include bp(lap) {
        font-size: $lapFontSize;
    }
    @include bp(desk) {
        font-size: $deskFontSize;
    }
}

body {
    @include rem( "font-size", $type__scaleBase );
    color: $color__bodyText;
}

// Typographic reset

div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

// Vertical rhythm class
// By default coupled to $ratio & $base-size, but it can be uncoupled by setting $scale-base &&|| $type__ratio

.vR{
    margin-top: 0;
    @include rem( "margin-bottom", ($type__scaleBase * $type__ratio) );
}

// Content typography

#{$contentNamespace} div,
#{$contentNamespace} dl,
#{$contentNamespace} dt,
#{$contentNamespace} dd,
#{$contentNamespace} form,
#{$contentNamespace} figure,
#{$contentNamespace} img,
#{$contentNamespace} ol,
#{$contentNamespace} ul,
#{$contentNamespace} p,
#{$contentNamespace} blockquote,
#{$contentNamespace} table {
    @extend .vR;
    font-family: $type__content;
}

// Modifiers

em,
i {
    font-style: italic;
    line-height: inherit;
}

strong,
b {
    font-weight: bold;
    line-height: inherit;
}

// Lines (from normalize.css)

hr {
    box-sizing: content-box;
    height: 0;
}

// Adresses & definitions (from normalize.css)

abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
    font-style: italic;
}
