//*------------------------------------*\
//     $TYPE-BASE
//*------------------------------------*/
// Basic type-settings.
//---------------------------------

$type__bodyFont:         $type__primary;
$type__contentFont:  $type__secondary;

$palmFontSize: 75%;   // 12px baseline 
$lapFontSize:  87.5%; // 14px baseline
$deskFontSize: 100%;  // 16px baseline

// Core declaration

html,
textarea,
input,
select {
    line-height: $type__ratio;
    font-family: $type__bodyFont;
    font-size: $palmFontSize;
    @include bp(lap) {
        font-size: $lapFontSize;
    }
    @include bp(desk) {
        font-size: $deskFontSize;
    }
}

body {
    @include rem( "font-size", $type__scaleBase );
    color: $color__bodyText;
}

// Typographic reset

div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

// Vertical rhythm class
// By default coupled to $ratio & $base-size, but it can be uncoupled by setting $scale-base &&|| $type__ratio

.vR{
    margin-top: 0;
    @include rem( "margin-bottom", ($type__scaleBase * $type__ratio) );
}

// Content typography

#{$content-namespace} div,
#{$content-namespace} dl,
#{$content-namespace} dt,
#{$content-namespace} dd,
#{$content-namespace} form,
#{$content-namespace} figure,
#{$content-namespace} img,
#{$content-namespace} ol,
#{$content-namespace} ul,
#{$content-namespace} p,
#{$content-namespace} blockquote,
#{$content-namespace} table {
    @extend .vR;
    font-family: $type__contentFont;
}

// Modifiers

em,
i {
    line-height: inherit;
    font-style: italic;
}

strong,
b {
    line-height: inherit;
    font-weight: bold;
}

// Lines (from normalize.css)

hr {
    box-sizing: content-box;
    height: 0;
}

// Adresses & definitions (from normalize.css)

abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
    font-style: italic;
}
