//*------------------------------------*\
//     $MEDIA
//*------------------------------------*/
// Responsive media settings.
//---------------------------------

$type__imageSpacing: $type__sizingUnit;

// Images
//---

// Fluid images

img {
    max-width: 100%;
}

// Non fluid-images when height & width is present
img[width],
img[height] {
    max-width:none;
}

// Rounded images 

.img--round { 
    border-radius: $brand__rounding;
}

// Image placement

.img--right {
    float:right;
    margin-bottom: $type__imageSpacing + em;
    margin-left: $type__imageSpacing + em;
}

.img--left {
    float:left;
    margin-bottom: $type__imageSpacing + em;
    margin-right: $type__imageSpacing + em;
}

.img--center {
    display:block;
    margin-bottom: $type__imageSpacing + em;
    margin-left:auto;
    margin-right:auto;
}

// Figures 

figure {
    margin:0;
    > img {
        display:block;
    }
}

#{$content-namespace} figure {
    > img {
        margin-bottom: 0;
    }
}

// SVG
// Correct overflow displayed oddly in IE 9. (from normalize.css)

svg:not(:root) {
    overflow: hidden;
}
