//*------------------------------------*\
//     $MEDIA
//*------------------------------------*/
// Responsive media settings.
//---------------------------------

$image-spacing: $base-sizing-unit;

// Images
//---

// Fluid images

img {
    max-width: 100%;
}

// Non fluid-images when height & width is present
img[width],
img[height]{
    max-width:none;
}

// Rounded images 

.img--round { border-radius:$brand__rounding; }

// Image placement

.img--right{
    float:right;
    margin-bottom: $image-spacing + em;
    margin-left: $image-spacing + em;
}
.img--left{
    float:left;
    margin-right: $image-spacing + em;
    margin-bottom: $image-spacing + em;
}
.img--center{
    display:block;
    margin-right:auto;
    margin-bottom: $image-spacing + em;
    margin-left:auto;
}

// Figures 

figure > img {
    display:block;
}

#{$content-namespace} figure {
    > img {
        margin-bottom: 0;
    }
}