
// *    Quotes
// * ---------------------
// * Quotes and blockquotes.
// * ---------------------

// * Blockquotes

blockquote {
    border-left: ($type--sizing-unit / 2 +em) solid $color__brand--primary;
    padding-left: ($type--sizing-unit / 2 +em);
}

#{$base--content-namespace} blockquote p {
    margin-bottom: 0;
}