//*------------------------------------*\
//     $BASE VAR
//*------------------------------------*/
// Core-variables.
// $base-sizing-unit: Used for calculating base font-size, margins and paddings.
//---------------------------------

$base-size: 16 !default;
$browser-default: 16 !default;

$base-sizing-unit: $base-size / $browser-default;

$ratio: 1.5 !default;