
// *    Base Variables
// * ---------------------
// * $base-sizing-*: Used for calculating base font-size, margins and paddings.
// * $ratio: By default, used as typographic ratio. Used to calculate the base-rhythm.
// * $base-rhythm-*: Used for rhythm for elements outside typography, by default.
// * ---------------------

// * Calculation basics

$base--size:            16 !default;
$base--browser-default: 16 !default;
$base--ratio:           1.5 !default;

// * Base sizing unit (in (r)em & px)

$base--sizing-unit:    ($base--size / $base--browser-default);
$base--sizing-number:   $base--size;

// * Base rhythm unit (in (r)em & px)

$base--rhythm-unit:     $base--ratio;
$base--rhythm-number:  ($base--size * $base--ratio);