
// *    Brand
// * ---------------------
// * Variables connected to the project's branding.
// * ---------------------

$brand--border-radius: .25em !default;
$brand--border-width: 1px !default;

$color--brand:         $color--primary !default;
$color__brand--border: #ccc !default;
