//*------------------------------------*\
//     $BRANDING
//*------------------------------------*/
// Variable-cache for branding-asstes.
//---------------------------------

$brand__rounding: .25em !default;
$brand__borderColor: #ccc !default;
$brand__borderWidth: 1px !default;