//*------------------------------------*\
//     $BRANDING
//*------------------------------------*/
// Variable-cache for branding-asstes.
//---------------------------------

$brand__rounding: .25em !default;
$brand__border-color: #ccc !default;
$brand__border-width: 1px !default;