//*------------------------------------*\
//     $COLorS
//*------------------------------------*/
// Variable-cache for colors.
//---------------------------------

// Basic
$color__background:   #fefefe !default;

// Typography
$color__bodyText:    #333 !default;
$color__heading:      #222 !default;

//Links
$color__link:         #c10900 !default;
$color__linkHover:   shade($color--link,10%)!default;

// Branding
$color__primary:      #c10900 !default;
$color__secondary:    yellow !default;
$color__disabled:     grey !default;

// States

$color__success:      green !default;
$color__error:        red !default;