//*------------------------------------*\
//     $MQ'S
//*------------------------------------*/
// Cache the media-queries (used in MQ-mixin)
//---------------------------------
  $bp-palm:     "(min-width: 240px and max-width: 499px)";
  $bp-lap:      "(min-width: 500px)";
  $bp-desk:     "(min-width: 1000px)";
  $bp-highres:  "(min-width: 1200px)";