ƒ//*------------------------------------*\
//     $MQ'S
//*------------------------------------*/
// Cache the media-queries (used in MQ-mixin & grid)
//---------------------------------

  $bp__palm:     "(max-width: 480px)";
  $bp__lap:      "(min-width:481px) and (max-width: 1023px)";
  $bp__lap-up:   "(min-width: 481px)";
  $bp__desk:     "(min-width: 1024px)";