
// *    Typography config
// * ---------------------
// *   Contents:
// *    [1]. Base
// *    [2]. Typographic Scale
// *    [3]. Font-Stacks
// * ---------------------

// * Core

$type--scale-base: $base--size; // Default: 16
$type--ratio:      $base--ratio !default;

// Units

$type--sizing-unit:   $type--scale-base / $base--browser-default;
$type--sizing-number: $type--scale-base;

$type--rhythm-unit:   $type--ratio;
$type--rhythm-number: $type--scale-base * $type--ratio;

// * Typographc Scale
// * $type--scaleBase will be calculating vertical rhythm (body font-size) & margins between typographic content-elements (w/ line-height)
// * $type--scaleBase is equal to $base-size by default. $base--size is used to calcualte the $base--sizing-unit, $type--sizing-unit & grid__gutters
// * So by default, the spacing is coupled with sizing, but you can (although not recommended) decouple them.
// * The scale works manually. Scale values get divided by $base__browserDefault to get real pixel `rem`values. Changing $type--scaleBase doesn't affect the scale
// * It is of course possible, to make the scale dynamic to $type--scaleBase & type__ratio 
// * Changing the <html>-font-size (set in %) scales the whole typography, incl. margins.
// * ---------------------

$type--scaleU:  84 !default; // kilo
$type--scaleG:  72 !default; // giga
$type--scaleM:  60 !default; // mega
$type--scale1:  48 !default; // h1, alpha
$type--scale2:  36 !default; // h2, beta
$type--scale3:  24 !default; // h3, gamma
$type--scale4:  21 !default; // h4, delta
$type--scale5:  18 !default; // h5, epsilon
$type--scale6:  16 !default; // h6, zeta

// * Font-stacks

$font--sans: $helvetica-neue;
$font--serif: $baskerville;

$font--primary:   $font--sans;
$font--secondary: $font--serif;

