
// *    Typography config
// * ---------------------
// *   Contents:
// *    [1]. Base
// *    [2]. Typographic Scale
// *    [3]. Font-Stacks
// * ---------------------

// * Core

$type--size:              $base--size; // Default: 16
$type--ratio:             $base--ratio !default;

// * Hook for content typography / elements

$base--content-namespace: unquote(".typography");

// * Units

$type--sizing-unit:       $type--size / $base--browser-default;
$type--sizing-number:     $type--size;

$type--rhythm-unit:       $type--ratio;
$type--rhythm-number:     $type--size * $type--ratio;

// * Responsive typography

$palm--font-size: 87.5%;
$lap--font-size:  87.5%;
$desk--font-size: 100%;
$high--font-size: 112.5%;

// * Typographc Scale
// *
// * 1. <html> is assigned percentage based on breakpoint
// * 2. $type--size set's body font-size in rem
// * 3. if $type__use-modular-scale: "true"; -> use modular scale specified in mixins/modular-scale & type/heading
// * 4. Otherwise, specify a scale below (will be real pixel values, so if you change the base font-size you have to re-adjust)
// * 5.
// * ---------------------

$type__use-modular-scale: "true";

@if($type__use-modular-scale == "false") {
    $type__scale--ultra:       84 !global; // ultra
    $type__scale--giga:        72 !global; // giga
    $type__scale--mega:        60 !global; // mega
    $type__scale--h1:          48 !global; // h1, alpha
    $type__scale--h2:          36 !global; // h2, beta
    $type__scale--h3:          24 !global; // h3, gamma
    $type__scale--h4:          21 !global; // h4, delta
    $type__scale--h5:          18 !global; // h5, epsilon
    $type__scale--h6:          16 !global; // h6, zeta
}

// * Font-stacks

$type__font--sans:        $helvetica-neue;
$type__font--serif:       $baskerville;

$type__font--primary:     $type__font--sans;
$type__font--secondary:   $type__font--serif;

// * Font weight

$type--font-weight: regular !default;
