//*------------------------------------*\
//     $TYPE CONFIG
//*------------------------------------*/
//  Contents:
//  [1]. Base
//  [2]. Typographic Scale
//  [3]. Font-Stacks
//  [4]. Links
//---------------------------------

// Base

$type__scaleBase:  $base__size; // Default: 16
$type__ratio:      $base__ratio !default;

// Units

$type__sizingUnit:      $type__scaleBase / $base__browserDefault;
$type__sizingNumerical: $type__scaleBase;

$type__rhythmUnit:      $type__ratio;
$type__rhythmNumerical: $type__scaleBase * $type__ratio;

// Namespace for content-typography ( introduces vertical rhtythm for type, gives content heading hook )

$content-namespace: unquote(".content");

// Typographc Scale
// - $type__scaleBase will be calculating vertical rhythm (body font-size) & margins between typographic content-elements (w/ line-height)
// - $type__scaleBase is equal to $base-size by default. $base__size is used to calcualte the $base__sizing-unit, $type__sizing-unit & grid__gutters
//   So by default, the spacing is coupled with sizing, but you can (although not recommended) decouple them.
// - The scale works manually. Scale values get divided by $base__browserDefault to get real pixel `rem`values. Changing $type__scaleBase doesn't affect the scale
//   It is of course possible, to make the scale dynamic to $type__scaleBase & type__ratio 
// - Changing the <html>-font-size (set in %) scales the whole typography, incl. margins.

$scaleU:  84 !default; // kilo
$scaleM:  72 !default; // mega
$scaleG:  60 !default; // giga
$scale1:  48 !default; // h1, alpha
$scale2:  36 !default; // h2, beta
$scale3:  30 !default; // h3, gamma
$scale4:  24 !default; // h4, delta
$scale5:  21 !default; // h5, epsilon
$scale6:  16 !default; // h6, zeta

// Font-stacks

$type__primary:   $helveticaNeue;
$type__secondary: $georgia;

// Links

$type__linkDecoration: none;
