
// * Fundament Functions
// * ---------------------
// * Sass functions & mixins to assemble the grid.
// @contains:
// @  1. fundament()
// @  2. fundament-init()
// @  3. fundament-responsive()
// * ---------------------

// * Map the config to an accesible map
// @type: function
// @exports: fundament(group, setting);
// * ---------------------

@function fundament($group, $setting) {
    @if($group and $setting) {
        @return map-get(map-get($fundament, $group), $setting);
    } @else {
        @warn "Setting #{$setting} does not exist under #{$group}!";
        @return false;
    }
}

// * Init function that handles build
// @type: mixin
// @exports: fundament-init();
// * ---------------------

@mixin fundament-init() {
    // * Always include the default grid
    @include fundament-widths();

    // * if true, include a grid for each breakpoint
    @if (fundament(settings, responsive) == true){
        @include fundament-responsive();
    }

    // * if true, include push-classes
    @if(fundament(push, use-push) == true) {
        // * Make the items pushable
        [class*="push--"]{ position:relative; }

        @include fundament-widths("left", "push--");

        // * if true, include responsive push classes
        @if (fundament(push, responsive) == true){
            @include fundament-responsive("left", "push--");
        }
    }

    // * if true, include pull-classes
    @if(fundament(pull, use-pull) == true) {
        // * Make the items pullable
        [class*="pull--"]{ position:relative; }

        @include fundament-widths("right", "pull--");

        // * if true, include responsive pull classes
        @if (fundament(pull, responsive) == true){
            @include fundament-responsive("right", "pull--");
        }
    }

}

// * Maps config-breakpoints to widths
// @type: mixin
// @exports: fundament-reponsive($value, $prefix:);
// * ---------------------

@mixin fundament-responsive($value:"width", $prefix:""){

    // * Get all breakpoints
    $fundament--breakpoints: map-get($fundament, breakpoints);
    // * Test-boolean
    $breakpoint--ok: false;

    // * Build a mq for each breakpoint and include prefixed-widths for this
    @each $breakpoint in $fundament--breakpoints {

        $name: #{nth($breakpoint, 1)};
        $declaration: nth($breakpoint, 2);

        @if ($name and type-of($declaration) == "string"){
            $breakpoint--ok: true;
            @media only screen and #{$declaration} {
                @include fundament-widths($value, $prefix, '#{$name}--');
            }
        } @else {
            @warn "Your breakpoint #{$name} is not alright.";
        }
    }
}
