
//////////////////////////////
// WEBFONT
//////////////////////////////

@mixin webfont($name, $filename, $weight: 400, $style: normal) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url("fonts/#{$filename}.woff2") format("woff2"),
          url("fonts/#{$filename}.woff") format("woff"),
          url("fonts/#{$filename}.ttf") format("truetype");
  }
}
