//*------------------------------------*\
//     $RESET
//*------------------------------------*/
// This project uses normalize.css, but I chose to ingrain the normalizations into the actual .scss-parts 
// so the scope can be seen.
// Most of the stuff got overwritten anyways and this way one can see better where the actual quirks are.
// Snippets borrowed from normalize are marked with scss-comments.
//---------------------------------

// Base

* {
    box-sizing: border-box; 
}

//** Normalize.css
// * Prevent iOS text size adjust after orientation change, without disabling
// * user zoom.
// */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin:0;
    overflow-y: scroll;
}

//** Normalize.css
// * Correct `block` display not defined in IE 8/9.
// */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

//** Normalize.css
// * Correct `inline-block` display not defined in IE 8/9.
// */

audio,
canvas,
progress,
video {
    display: inline-block;
}

//** Normalize.css
// * Address `[hidden]` styling not present in IE 8/9.
// * Hide the `template` element in IE, Safari, and Firefox < 22.
// */

[hidden],
template {
    display: none;
}

//** Normalize.css
// * Prevent modern browsers from displaying `audio` without controls.
// * Remove excess height in iOS 5 devices.
// */

audio:not([controls]) {
    display: none;
    height: 0;
}