//*------------------------------------*\
//     $RESET
//*------------------------------------*/
// This project uses normalize.css, but I chose to ingrain the normalizations into the actual .scss-parts 
// so the scope can be seen.
// Most of the stuff got overwritten anyways and this way one can see better where the actual quirks are.
// Snippets borrowed from normalize are marked with scss-comments.
//---------------------------------

// Base

* {
    box-sizing: border-box; 
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin:0;
}

// Display definitions (from normalize.css)

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

[hidden],
template {
    display: none;
}

audio:not([controls]) {
    display: none;
    height: 0;
}