//*------------------------------------*\
//     $STYLES
//*------------------------------------*/
// Styles for the project
//---------------------------------

// Base

* { 
    box-sizing: border-box; 
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin:0;
    background: $color__background;
}