/**
 * app.scss
 *
 * [Directories:]
 * /settings - use for config and global vars
 * /tools - utility mixins & abstract helpers
 * /base - use for styles for global tags (normalize, type)
 * /elements - global, singular objects, shared across individual components
 * /objects - global objects, shared across individual components. Can bundle elements
 * /components - UI components / templates
 * /vendor - use for dependency styles
 */

@import './app/base/normalize';
