<!DOCTYPE html>
<html class="no-js" lang="{{ _site_language }}">
<head>
    <meta charset="utf-8">
    {{# DNS Prefetching for later - needs testing #}}
    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    <title>{{ _site_name }}</title>
    <meta name="description" content="{{ _site_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ _site_author }}">
    <link rel="stylesheet" href="{{ theme:css src="build/prefixed/global.min" }}">
    {{# Teach IE8/below some manners: http://caniuse.com/#search=media%20queries #}}
    <!--[if lt IE 9]>
        <script src="{{ theme:js src="lib/html5shiv-3.7.0" }}"></script>
        <script src="{{ theme:js src="lib/respond-1.4.2.min" }}"></script>
    <![endif]-->
    <script>
        document.documentElement.className = "js";
    </script>
    {{# Async typekit-snippet. Remember to prevent FOUT. See: http://blog.typekit.com/2011/05/25/loading-typekit-fonts-asynchronously/ #}}
    {{ if typekit_id }}
    <script type="text/javascript">
      (function() {
        var config = {
          kitId: "{{ typekit_id }}",
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>
    {{ endif }}
</head>
<body>
    {{ theme:partial src="header" }}
    {{ layout_content }}
    {{ theme:partial src="footer" }}
    {{ theme:partial src="scripts" }}
</body>
</html>