<body class="galerie">
    <header role="banner">
        {{ theme:partial src="header" }}
        {{ theme:partial src="nav" }}
    </header>
    <section role="main">
            <div class="content">
                <div class="galerie__grid">
                    {{ entries:listing show_future="yes" folder="galerie" }}
                        <a class="galerie__front" href="{{ url }}">
                            <figure>
                                {{ galerie_title_grid limit="1" }}
                                        <img src="{{ transform src="{ galerie_title_image }" width="600" height="400" quality="80" action="smart" }}" alt="{{ caption }}" />
                                {{ /galerie_title_grid }}

                                <figcaption><h2 class="gamma">{{ title }}</h2></figcaption>
                            </figure>
                        </a>
                    {{ /entries:listing }}
                </div>
         </div>
            {{ theme:partial src="sidebar" }}
    </section>
    {{theme:partial src="footer"}}
    {{theme:partial src="scripts"}}
