<body class="blog">
    <header role="banner">
        {{ theme:partial src="header" }}
        {{ theme:partial src="nav" }}
    </header>
    <section role="main">
        <div class="archiv__listing  content">
            <header>
                <h1 class="alpha">Blog</h1>
            </header>
            <hr>
            {{ entries:listing folder="blog" limit="5" }}
                {{if no_results }}
                    <i>keine Resultate</i>
                    <hr>
                {{ else }}
                    <article>
                        <header class="archiv__title">
                            <time datetime="{{ date format="Y-m-d" }}"> <span>{{ date format="d.m.Y" }}</span></time>
                            <h1><a href="{{ url }}" title="{{ title }}"> {{ title }} </a></h1>
                        </header>
                        {{if title_image }}
                            <a href=" {{ url }}">
                                <img src="{{ transform src="{ title_image }" quality="85" action="smart" width="800" height="400" }}" alt="{{ title }}" />
                            </a>
                        {{ /if }}
                        {{ if post_referenz }}
                          {{ post_referenz }}
                                <div class="eventlink"><a href="{{ name }}">Dazugehöriges Event #{{ index }}</a></div>
                          {{ /post_referenz }}
                        {{ /if }}
                        {{ content_description }}
                        <p><a href="{{ url }}">Zu dem Artikel....</a></p>
                    </article>
                    <hr>
                {{ /if }}
            {{ /entries:listing }}

            {{ entries:pagination folder="blog" limit="5"}}
                <div class="pagination">
                    {{ if previous_page }}
                        <a class="gamma  btn" href="{{ previous_page }}">Vorherige Seite</a>
                    {{ /if }}
                    {{ if next_page }}
                        <a class="gamma  btn" href="{{ next_page }}">Nächste Seite </a>
                    {{ /if }}
                </div>
            {{ /entries:pagination }}
        </div>
        {{ theme:partial src="sidebar" }}
    </section>
    {{ theme:partial src="footer" }}
    {{ theme:partial src="scripts" }}
