<body class="home">
            <header role="banner">
                <div class="menu">
                    {{ theme:partial src="header" }}
                    {{ theme:partial src="nav" }}
                </div>
                <article class="slider">
                                {{ titelbild__grid }}
                                    <img src="{{ transform src="{ titelbild }" width="1600" height="820" action="smart" quality="90" }}" alt="{{ caption }}" />
                                    <div class="slider__caption">
                                        {{ if logged_in }}
                                        <h2 class="alpha">
                                            {{ member:profile }}
                                            Willkommen zur&uuml;ck,
                                            {{ if gender == "männlich" }}
                                            Hr.
                                            {{ elseif gender == "weiblich" }}
                                            Fr.
                                            {{ else }}
                                                {{ if !(is_doctor === "Dr." or is_doctor === "Prof. Dr." or is_doctor === "Dr. Dr.") }}
                                                {{ first_name }}
                                                {{ /if }}
                                            {{ /if }}
                                            {{ if is_doctor === "Dr." }}
                                                Dr.
                                            {{ elseif is_doctor === "Dr. Dr." }}
                                                Dr. Dr.
                                            {{ elseif is_doctor === "Prof. Dr." }}
                                                Prof. Dr.
                                            {{ /if }}
                                            {{ last_name }}.
                                            {{ /member:profile }}
                                        </h2>
                                        {{ theme:partial src="module__doc" }}
                                        {{ else }}
                                            <h2 class="alpha">{{ caption }}</h2>
                                            <a href="kontakt" class="btn call_to_action">Jetzt Mitglied werden!</a>
                                        {{ /if }}
                                    </div>
                                {{ /titelbild__grid }}
                </article>
            </header>
            <section role="main">
                <!-- Slider -->

                <!-- Branding -->
                <article class="branding">
                    <h2 class="beta">Sedulo studiositas officium sit.*</h2>
                </article> <!-- Branding -->

                <!--Werte-->
                <div class="content">

                    <!-- Post-Listing Werte -->
                    <section class="werte">
                        <header class="ribbon-wrapper">
                            <div class="ribbon-front">
                                <h1 class="gamma">Unsere Prinzipien</h1>
                            </div>
                        </header>
                        <div class="werte--listing">
                        {{ werte__grid limit="3" }}
                                <article>
                                    <img src="{{ icon }}" alt="{{ title }}" />
                                    <h2 class="gamma"> {{ title }} </h2>
                                    <hr>
                                    <p>{{ copy }}</p>
                                </article>
                        {{ /werte__grid }}
                        </div>
                    </section> <!--Werte -->
                    <hr class="frontpage__divider">

                   <div class="frontpage">
                        <!--Frontpage-->
                        <section class="frontpage__listing">
                            {{ if logged_in }}
                            <h2 class="alpha frontpage__title"><a href="mitgliederbereich"><i>Mitgliederbereich</i></a></h2>
                            {{ entries:listing folder="mitgliederbereich | partner" limit="1" }}
                                {{if no_results }}
                                    <hr>
                                {{ else }}
                                    <article  {{ if context == "partnerbeitrag" }}class="partner"{{ /if }}>
                                        {{ if title_image }}
                                            <a class="frontpage__entry-img"  href="{{ url }}">
                                                <img src="{{ transform src="{ title_image }" width="800" height="400" action="smart" quality="85" }}" alt="{{ title }}" />
                                            </a>
                                            <div class="frontpage__entry">
                                        {{ elseif partner_image }}
                                            <a class="frontpage__entry-img"  href="{{ url }}">
                                                <img src="{{ transform src="{ partner_image }" width="800" height="400" action="resize" quality="85" }}" alt="{{ title }}" />
                                            </a>
                                            <div class="frontpage__entry">
                                        {{ else }}
                                            <div class="frontpage__entry  frontpage--no-img">
                                        {{ /if }}
                                            <header class="title">
                                                <time datetime="{{ date format="Y-m-d" }}"> {{ date format="d.m.Y" }}</time>
                                                <a href="{{ url }}"><h1 class="beta">{{ title }}</h1></a>
                                                {{ if context == "partnerbeitrag" }}
                                                    <p class="doc"><i>Partnerbeitrag</i> in Kooperation mit <a href="http://dental-online-college.com">Dental Online College</a></p>
                                                {{ /if }}
                                            </header>
                                            {{ if post_referenz }}
                                              {{ post_referenz }}
                                                    <div class="eventlink"><a href="{{ name }}">Dazugehöriges Event #{{ index }}</a></div>
                                              {{ /post_referenz }}
                                            {{ /if }}
                                            {{ content_description }}
                                            <footer>
                                                <p><a href="{{ url }}">Zu dem Artikel {{ if document_grid }}&nbsp;&amp;&nbsp; den Materialien{{ /if }} ...</a></p>
                                                            {{ if categories }}
                                                        <p>Kategorie(n): {{ categories_url_list }}</p>
                                                            {{ /if }}
                                            </footer>
                                            </div>
                                    </article>
                                    <hr>
                                {{ /if }}
                            {{ /entries:listing }}
                            {{ /if }}
                            <h2 class="alpha frontpage__title"> Neues aus dem <a href="blog"><i>Blog</i></a></h2>
                            {{ entries:listing folder="blog" limit="1" }}
                                {{if no_results }}
                                    <hr>
                                {{ else }}
                                    <article>
                                        {{ if title_image }}
                                            <a class="frontpage__entry-img"  href="{{ url }}">
                                                <img src="{{ transform src="{ title_image }" width="800" height="400" action="smart" quality="85" }}" alt="{{ title }}" />
                                            </a>
                                            <div class="frontpage__entry">
                                        {{ else }}
                                            <div class="frontpage__entry  frontpage--no-img">
                                        {{ /if }}
                                            <header class="title">
                                                <time datetime="{{ date format="Y-m-d" }}"> {{ date format="d.m.Y" }}</time>
                                                <a href="{{ url }}"><h1 class="beta">{{ title }}</h1></a>
                                            </header>
                                                {{ if post_referenz }}
                                                  {{ post_referenz }}
                                                        <div class="eventlink"><a href="{{ name }}">Dazugehöriges Event #{{ index }}</a></div>
                                                  {{ /post_referenz }}
                                                {{ /if }}
                                                {{ content_description }}
                                                <footer>
                                                    <p><a href="{{ url }}">Zu dem Artikel {{ if document_grid }}&nbsp;&amp;&nbsp; den Materialien{{ /if }} ...</a></p>
                                                            {{ if categories }}
                                                            <p>Kategorie(n): {{ categories_url_list }}</p>
                                                            {{ /if }}
                                                </footer>
                                            </div>
                                    </article>
                                    <hr>
                                {{ /if }}
                            {{ /entries:listing }}
                            </section> <!-- grid -->
                        <!-- Sidebar -->
                        {{ theme:partial src="sidebar" }}
                    </div> <!-- Grid -->
                </div> <!-- Content -->
        </section> <!-- Section -->
        {{theme:partial src="footer" }}
        {{ theme:partial src="scripts" }}
        <!--Custom js for special pages goes here -->
