<body class="post">
    <div id="login" class="login login--dropdown text-left">
        {{ theme:partial src="module__login" }}
        <div class="btn  login-close">Schließen</div>
    </div>
    <header role="banner">
        {{ theme:partial src="header" }}
        {{ theme:partial src="nav" }}
    </header>
    <section role="main">
        <div class="content">
            <article>
                <h1>{{ title }}</h1>
                {{ if !logged_in }}
                <p>Sie müssen eingeloggt sein, um diese Seite zu sehen.
                {{ /if }}
                {{ member:profile_form }}
                  {{ if error }}
                    <p class="error">{{ error }}</p>
                  {{ elseif success }}
                    <p class="success">{{ success }}</p>
                  {{ /if }}
                  <ul class="formfields">
                  <li>
                    Benutzername: <i>{{ old_values:username }}</i>
                    <input type="hidden" id="username" name="username" value="{{ old_values:username }}"
                  </li>

                  <li>
                    <label for="first_name">Vorname</label>
                    <div class="input-wrap text-input">
                      <input type="text" name="first_name" value="{{ old_values:first_name }}" id="first_name">
                    </div>
                    {{ if field_errors:first_name }}
                      <br>
                      <small class="error">{{ field_errors:first_name }}</small>
                    {{ /if }}
                  </li>

                  <li>
                    <label for="last_name">Nachname:</label>
                    <div class="input-wrap text-input">
                      <input type="text" name="last_name" value="{{ old_values:last_name }}" id="last_name">
                    </div>
                    {{ if field_errors:last_name }}
                      <br>
                      <small class="error">{{ field_errors:last_name }}</small>
                    {{ /if }}
                  </li>

                  <li>
                    <label for="email">Email:</label>
                    <div class="input-wrap text-input">
                      <input type="text" name="email" value="{{ old_values:email }}" id="email">
                    </div>
                    {{ if field_errors:email }}
                      <br>
                      <small class="error">{{ field_errors:email }}</small>
                    {{ /if }}
                  </li>
                  <li>
                    <fieldset>
                      <legend>Grad:</legend>
                      {{ if old_values:is_doctor == "keine Angabe" }}
                      <input type="radio" name="is_doctor" id="is_doctor" checked value="keine Angabe"> <label for="radio">keine Angabe</label>
                       <input type="radio" name="is_doctor" id="is_doctor"  value="Dr."> <label for="radio">Dr.</label>
                       <input type="radio" name="is_doctor" id="is_doctor"  value="Dr. Dr."> <label for="radio">Dr. Dr.</label>
                       <input type="radio" name="is_doctor" id="is_doctor"  value="Prof. Dr."> <label for="radio">Prof. Dr.</label>
                      {{ elseif old_values:is_doctor == "Dr." }}
                      <input type="radio" name="is_doctor" id="is_doctor" value="keine Angabe"> <label for="radio">keine Angabe</label>
                       <input type="radio" name="is_doctor" id="is_doctor" checked value="Dr."> <label for="radio">Dr.</label>
                       <input type="radio" name="is_doctor" id="is_doctor"  value="Dr. Dr."> <label for="radio">Dr. Dr.</label>
                       <input type="radio" name="is_doctor" id="is_doctor"  value="Prof. Dr."> <label for="radio">Prof. Dr.</label>
                       {{ elseif old_values:is_doctor == "Dr. Dr." }}
                       <input type="radio" name="is_doctor" id="is_doctor" value="keine Angabe"> <label for="radio">keine Angabe</label>
                        <input type="radio" name="is_doctor" id="is_doctor" value="Dr."> <label for="radio">Dr.</label>
                        <input type="radio" name="is_doctor" id="is_doctor" checked value="Dr. Dr."> <label for="radio">Dr. Dr.</label>
                        <input type="radio" name="is_doctor" id="is_doctor"  value="Prof. Dr."> <label for="radio">Prof. Dr.</label>
                       {{ elseif old_values:is_doctor == "Prof. Dr." }}
                       <input type="radio" name="is_doctor" id="is_doctor" value="keine Angabe"> <label for="radio">keine Angabe</label>
                        <input type="radio" name="is_doctor" id="is_doctor" value="Dr."> <label for="radio">Dr.</label>
                        <input type="radio" name="is_doctor" id="is_doctor"  value="Dr. Dr."> <label for="radio">Dr. Dr.</label>
                        <input type="radio" name="is_doctor" id="is_doctor" checked value="Prof. Dr."> <label for="radio">Prof. Dr.</label>
                      {{ /if }}
                    </fieldset>
                  </li>
                  <li>
                  <fieldset>
                    <legend>Geschlecht:</legend>
                    {{ if old_values:gender == "männlich" }}
                    <input type="radio" name="gender" id="gender" value="keine Angabe"> <label for="radio">keine Angabe</label>
                    <input type="radio" name="gender" id="gender" checked value="männlich"> <label for="radio">
                    Männlich</label>
                    <input type="radio" name="gender" id="gender" value="weiblich"> <label for="radio">Weiblich</label>
                    {{ elseif old_values:gender == "weiblich" }}
                    <input type="radio" name="gender" id="gender" value="keine Angabe"> <label for="radio">keine Angabe</label>
                    <input type="radio" name="gender" id="gender" value="männlich"> <label for="radio">
                    Männlich</label>
                    <input type="radio" name="gender" id="gender" checked value="weiblich"> <label for="radio">Weiblich</label>
                    {{ elseif old_values:gender == "keine Angabe" }}
                    <input type="radio" name="gender" id="gender" checked value="keine Angabe"> <label for="radio">keine Angabe</label>
                    <input type="radio" name="gender" id="gender" value="männlich"> <label for="radio">
                    Männlich</label>
                    <input type="radio" name="gender" id="gender" value="weiblich"> <label for="radio">Weiblich</label>
                    {{ /if }}
                  </fieldset>
                  </li>
                  </ul>
                  <p>
                    <input type="submit" name="Submit" value="Profil aktualisieren">
                  </p>
                {{ /member:profile_form }}
            </article>
        </div>
    </section>
    {{ theme:partial src="footer" }}
    {{ theme:partial src="scripts" }}
    <!--Custom js for special pages goes here -->
