<body class="post post--event">
    <div id="login" class="login login--dropdown">
        {{ theme:partial src="module__login" }}
        <div class="btn  login-close">Schließen</div>
    </div>
    <header role="banner">
        {{ theme:partial src="header" }}
        {{ theme:partial src="nav" }}
    </header>
        <section role="main">
            <div class="content">
                <article>
                    {{ if title_image }}
                        <div class="post__title-image">
                           <img src="{{ title_image }}" alt="{{ title }}" />
                         </div>
                    {{endif }}
                        <div class="post__content">
                            <h1 class="beta">{{ title }}</h1>
                            <div class="date"> {{ date format="d.m.Y" }} {{ eventtime format="H:i" }} {{ if eventenddate }} -&nbsp;{{eventenddate format="d.m.Y"  }} {{ /if }}</div>
                            {{ if post_referenz }}
                              {{ post_referenz }}
                                    <div><a class="eventlink" href="{{ name }}">Material zur Veranstaltung #{{ index }}</a></div>
                              {{ /post_referenz }}
                            {{ /if }}
                            {{ content }}
                        </div>
                    {{ if ort }}
                        {{ location:map_url url="{ url }" locate_with="ort" open_popup="true" starting_zoom="14" }}
                           {{ if no_results }}
                                <p>Es liegt keine Karte vor.</p>
                           {{ else }}
                              <h3 class="gamma">{{ title }}</h3>
                              <p>{{ ortbeschreibung }}</p>
                           {{ /if }}
                        {{ /location:map_url }}
                    {{ /if }}
                    <footer>
                        {{ disqus:comments account="{ disqus_account }" }}
                    </footer>
                </article>
            </div>
        </section>
    {{ theme:partial src="footer"}}
    {{ theme:partial src="scripts"}}
    {{ location:start_maps }}
