<body class="post  post-partner">
        <div id="login" class="login login--dropdown text-left">
        {{ theme:partial src="module__login" }}
        <div class="btn  login-close">Schließen</div>
    </div>
    <header role="banner">
        {{ theme:partial src="header" }}
        {{ theme:partial src="nav" }}
    </header>
        <section role="main">
            <div class="content">
                    <article>
                    {{ if logged_in }}
                        <h1 class="entrytitle  alpha">{{ title }}</h1>
                        <p class="doc"><i>Partnerbeitrag</i> in Kooperation mit <a href="http://dental-online-college.com">Dental Online College</a></p>
                        <p><b>{{ content }}</b></p>
                        <div class="post--partner__grid">
                        <h2 class="beta ">DOC-Highlights dieses Monats</h2>
                        {{ artikel__grid }}
                            <figure class="{{ switch between="odd|even" }}">
                                <a class="post--partner__image" href="{{ link }}"><img src="{{ transform src="{ image }" action="smart" width="380" height="230" }}" /></a>
                                <figcaption>
                                    <h3 class="gamma"><a href="{{ link }}">{{ heading }}</a></h3>
                                    <p>{{ caption }}</p>
                                    <a class="btn  btn_small" href="{{ link }}">Zu dem Video</a>
                                </figcaption>
                            </figure>
                        {{ /artikel__grid }}
                        <small>In Kooperation mit Dental Online College</small>
                        </div>

                        <footer>
                            {{ disqus:comments account="{ disqus_account }" }}
                        </footer>
                    {{ else }}
                            <p> Bitte loggen Sie sich ein, um die Seite sehen zu können</p>
                    {{ /if }}
                </article>
            </div>
        </section>
    {{ theme:partial src="footer"}}
    {{ theme:partial src="scripts"}}
    <!--Custom js for special pages goes here -->

