<body class="post">
    <div id="login" class="login login--dropdown text-left">
        {{ theme:partial src="module__login" }}
        <div class="btn  login-close">Schließen</div>
    </div>
    <header role="banner">
        {{ theme:partial src="header" }}
        {{ theme:partial src="nav" }}
    </header>
    <section role="main">
        <article class="galerie__post">
            <div class="galerie__description">
                <h1 class="galerie__title  gamma">{{ title }}</h1>
                {{ content }}
             </div>
                {{ galerie_title_grid limit="1" }}
                        <a class="galerie__title-image galerie__item" href="{{ galerie_title_image }}">
                            <img src="{{ transform src="{ galerie_title_image }" width="1200" height="800" action="smart" }}" alt="{{caption}}" />
                        </a>
                {{ /galerie_title_grid }}

            <div class="galerie__grid">
                {{ galerie_grid limit="200" }}
                        <a class="sidekicks galerie__item" href="{{ galerie_image }}">
                            <img src="{{ transform src="{ galerie_image }" width="750" height="532" action="smart" }}" alt="{{ caption }}" />
                        </a>
                {{ /galerie_grid }}
            </div>
            <footer>
                {{ disqus:comments account="{ disqus_account }" }}
            </footer>
        </article>
    </section>
    {{ theme:partial src="footer" }}
    {{ theme:partial src="scripts" }}
    <!--Custom js for special pages goes here -->
    <script>
        $('.galerie__post').magnificPopup({
            delegate: '.galerie__item', // child items selector, by clicking on it popup will open
            type: 'image',
            disableOn:599,
            image: {
                verticalFit:true
            },
            gallery: {
                enabled: true, // set to true to enable gallery
                navigateByImgClick: true,
                arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
                tPrev: 'Previous (Left arrow key)', // title for left button
                tNext: 'Next (Right arrow key)'
            }
        });
    </script>
