
//////////////////////////////
// CORE
//////////////////////////////

// Static Content
// 1. https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
///////////////////////////////

@mixin grid-static {
    @include mixin-dryer("grid") {
        display: flex;
        flex: initial;
        list-style: none;
        padding: 0;

        @if $hagrid-fallback and $hagrid-fallback-fontfix {
            font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
            letter-spacing: -0.31em;
            text-rendering: optimizespeed;
        }
    }
}

@mixin item-static {
    @include mixin-dryer("item") {
        box-sizing: border-box;
        flex-shrink: 0; // * 1

        @if $hagrid-fallback {
            display: inline-block;
            zoom: 1;

            @if $hagrid-fallback-fontfix {
                font-family: $hagrid-fallback-font;
                letter-spacing: normal;
                text-rendering: auto;
            }
        }
    }
}

@mixin push-pull-static {
    @include mixin-dryer("push-pull") {
        position: relative;
    }
}

// Grid Wrapper
///////////////////////////////

@mixin grid($modifiers...) {
    @include grid-static;
    @include grid-modifiers($modifiers...);
}

// Grid Item
///////////////////////////////

@mixin item($widths...) {
    @include item-static;
    @include grid-calc(width, $widths...);
}

// Push / Pull
///////////////////////////////

@mixin pull($widths...) {
    @include push-pull-static;
    @include grid-calc(right, $widths...);
}

@mixin push($widths...) {
    @include push-pull-static;
    @include grid-calc(left, $widths...);
}

// Stretch
///////////////////////////////

@mixin stretch {
    align-self: stretch;
    display: flex;
    flex-flow: row wrap;

    #{$hagrid-item-selector} {
        flex: 1 1 100%;
    }

    @if $hagrid-fallback and $hagrid-fallback-warnings {
        @warn "Stretch won't work on fallback-grid!";
    }
}

// Breakpoints
///////////////////////////////

@mixin bp($breakpoints...) {

    @each $breakpoint in $breakpoints {
        $bp: parse-breakpoint($breakpoint);

        @if $bp != false {
            @media only screen and #{$bp} {
                @content;
            }
        }
        @else {
            @warn "You are trying to call @bp with an unknown, unquoted breakpoint: #{$breakpoint}";
        }
    }
}
