
////
/// Clearfix
/// MIT-License © 2016
/// @author Felix Spöttel
////

/// Clearfix adapted from h5bp
/// @output Clearfix rules
@mixin clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}
