
////
/// Webfont
/// MIT-License © 2016
/// @author Felix Spöttel
////

/// Webfont default formats
/// @type {List}
$webfont-formats: ("woff2", "woff") !default;

/// If you need to support Android 4.3- and IE8-, set this to true
/// @type {Boolean}
$webfont-ttf: false !default;

/// Constructs a valid @font-face declaration
/// @param {String} $name - Reference to the Webfont. Use this in your CSS
/// @param {String} $filename - Name of the font-file (without extension)
/// @param {Number} $weight [400] - Desired numeric font-weight
/// @param {String} $style [normal] - Desired font-style
/// @output Font-Face declarations for a given webfont
@mixin webfont($name, $filename, $weight: 400, $style: normal) {
  $output: () !default;
  $formats: $webfont-formats;

  @if $webfont-ttf == true {
    $formats: append($webfont-formats, "ttf");
  }

  @each $format in $formats {
    $string: url("#{$path-webfonts}#{$filename}.#{$format}") format("#{$format}");
    $output: append($output, $string, comma);
  }

  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: $output;
  }
}
