//*------------------------------------*\
//     $FONTFACE MIXIN
//*------------------------------------*/
// Mixin for easily declaring bulletproof font-faces.
//---------------------------------

@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$font-filename}.eot');
        src: url('#{$font-filename}.eot?#iefix') format('embedded-opentype'),
             url('#{$font-filename}.woff') format('woff'),
             url('#{$font-filename}.ttf') format('truetype'),
             url('#{$font-filename}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
        font-stretch: $font-stretch;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
            font-family: '#{$font-family}';
            src: url('#{$font-filename}.svg##{$font-family}') format('svg');
        }
    }
}