//*------------------------------------*\
//     $FONTFACE MIXIN
//*------------------------------------*/
// Mixin for easily declaring bulletproof font-faces.
// @usage: @include font-face('Futura', '../fonts/futura-regular', 400);
//---------------------------------

@mixin font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$font-filename}.eot');
        src: url('#{$font-filename}.eot?#iefix') format('embedded-opentype'),
             url('#{$font-filename}.woff') format('woff'),
             url('#{$font-filename}.ttf') format('truetype'),
             url('#{$font-filename}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
        font-stretch: $font-stretch;
    }
}
