
// *    CSS3 Columns
// * ---------------------
// * Use CSS3-columns. See: http://caniuse.com/#feat=multicolumn
// * @usage @include columns($number,($gap));
// * ---------------------

$column--gap: 1em !default;

@mixin columns($number, $gap:$column--gap) {
    column-count: $number;
    column-gap: $gap;
}