
// *    Font-Stacks
// * ---------------------
// *  A set of web-safe font-stacks as variables to use as stand-alone or web-font fallback.
// * @usage: font-family: "some", $baskerville;
// * ---------------------


// Serifs

$font-stacks: (
    sans:(
        // * Calibri
        calibri:          unquote('Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif'),

        // * Century Gothic
        century-gothic:   unquote('"Century Gothic", CenturyGothic, AppleGothic, sans-serif'),

        // * Franklin Gothic Medium
        franklin-gothic:  unquote('"Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif'),

        // * Futura
        futura:           unquote('Futura, "Trebuchet MS", Arial, sans-serif'),

        // * Gill Sans
        gill-sans:        unquote('"Gill Sans", "Gill Sans MT", Calibri, sans-serif'),

        // * Helvetica
        helvetica-neue:   unquote('"Helvetica Neue", Helvetica, Arial, sans-serif'),

        // * Lucida Grande
        lucida-grande:    unquote('"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif'),

        // * Optima
        optima:           unquote('Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif'),

        // * Segoe UI
        segoe-ui:         unquote('"Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif'),

        // * Verdana
        verdana:          unquote('Verdana, Geneva, sans-serif')
    ),
    serif:(
        // * Baskerville
        baskerville:      unquote('Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif'),

        // * Big Caslon
        big-caslon:       unquote('"Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif'),

        // * Bodoni
        bodoni:           unquote('"Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif'),

        // * Didot
        didot:            unquote('Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif'),

        // * Garamond
        garamond:         unquote('Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif'),

        // * Georgia
        georgia:          unquote('Georgia, Times, "Times New Roman", serif'),

        // * Goudy Old Style
        goudy-old-style:  unquote('"Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif'),

        // * Hoefler Test
        hoefler-text:     unquote('"Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif'),

        // * Palatino
        palatino:         unquote('Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif'),

        // * Times New Roman
        times-new-roman:  unquote('TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif')
    ),
    mono-space: (
        menlo: unquote('"DejaVu Sans Mono", Menlo, Monaco, Consolas, Courier, monospace')
    )
);

@function font-stack($stack, $typeface) {
    @return map-get(map-get($font-stacks, $stack), $typeface);
}
