
// *    REM-Function
// * ---------------------
// * Get the rem's of a px-value.
// * @usage: @include rem('margin-bottom',24);
// * ---------------------

$baseline-number: base(browser-default);

@mixin rem($property, $px-values) {
    $baseline-rem: ($baseline-number / 1rem * 1);
    #{$property}: ($px-values +px);
    @if type-of($px-values) == "number" {
        #{$property}: ($px-values / $baseline-rem);
    }
    @else {
        $rem-values: ();
        @each $value in $px-values {
            @if $value == 0 or type-of( $value ) != "number" {
                $rem-values: append($rem-values, $value);
            }
            @else {
                $rem-values: append($rem-values, $value / $baseline-rem);
            }
        }
    #{$property}: $rem-values;
    }
}
