
// *    Block-List
// * ---------------------
// * Big, blocked of lists.
// * Inspired by inuit.css (by Harry Roberts)
// *
// @ usage:
// * <ul class="block-list">
// * <li></li>
// * <li><a class="block-list__link"></li>
// * ...
// * </ul>
// * ---------------------

.block-list {
    @extend #{$fundament--class-type}#{$fundament--namespace};
    @extend #{$fundament--class-type}#{$fundament--namespace}--full;
    margin-bottom: 0;
    border-top: brand(border-width) solid palette(border);
    li {
        @extend #{$fundament--class-type}#{$fundament--namespace}__item;
        @extend #{$fundament--class-type}#{$fundament--namespace}--full__item;
        padding: rhythm(base)+em inherit;
        border-bottom: brand(border-width) solid palette(border);
    }
    ul {
        margin-top: (rhythm(base) / 2 +em);
    }
    &__link {
        display: block;
        padding: rhythm(base)+em 0;
        margin: -(rhythm(base)+em) 0;
    }
}