
// *    Blocks
// * ---------------------
// * Blocked off content.
// *
// @ usage:
// * <div class="block  block--small">
// * </div>
// @exports block(value);
// * ---------------------

$blocks: (
    background: palette(primary),
    color:      palette(background)
);

@function blocks($val) {
    @return map-get($blocks, $val);
}

@if (blaupause(components, use-components) == true and (blaupause(components, blocks) == true)(blaupause(components, block-list) == true or blaupause(components, pricing-list) == true)) {

    .blocked {
        display: block;
        padding: rhythm(base)+em;
        background: blocks(background);
        color: blocks(color);
    }

    .blocked--small {
        padding: (rhythm(base) / 2 +em);
    }
}