
// *    Fixed background-scrolling images
// * ---------------------
// * This file contains markup and styles to produce a fixed background image effect.
// *
// @ usage:
// * <section class="fixed">
// *   <div class="fixed__inner">
// *       <div class="fixed__layer  fixed--1">
// *       </div>
// *       <div class="fixed__content">
// *          /*Content here*/
// *       </div>
// *   </div>
// * </section>
// @exports fixed(value)
// * ---------------------

$fixed: (
    color:  #fff,
    height: 45
);

@function fixed($val) {
    @return map-get($fixed, $val);
}

@if (blaupause(components, use-components) == true and blaupause(components, fixed-backgrounds) == true) {

    // * Hero styles

    .fixed {
        text-align: center;
        &__layer {
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            position: fixed;
            transform: translateZ(0);
            pointer-events: none;
            z-index: -1;
        }
        &__inner {
            @include center-child(".fixed__content");
            width: 100%;
            margin: 0;
            padding: (fixed(height) / 2 +em) 0;
            background: rgba(0,0,0,.6);
        }
        &__content {
            width: 100%;
            margin: 0 !important;
            color: fixed(color);
            z-index: 3;
        }
    }

    // * Flex-box enhancements
    // * ---------------------

    .flexbox .fixed {
        &__inner {
            @include center-child(".fixed__content", "flex");
        }
    }
}

