
// *    Media-Element
// * ---------------------
// * Place any content next to an image.
// * Inspired by inuit.css (by Harry Roberts)
// * Original concept by stubornella
// * [Has a flex-box variant]
// *
// @ usage:
// * <figure class="media">
// *     <img src="" />
// *     <figcaption (class="media__caption")>
// *     </figcaption>
// * </figure>
// * ---------------------

// * Core

.media {
    display: block;
    @include cf();

    // * Elements

    > img {
        float: left;
        margin-right: rhythm(base)+em;
    }
    &__caption,
    > figcaption {
        overflow: hidden;
    }

    // * Modifiers

    &--rev {
        > img {
            float: right;
            margin-left: rhythm(base)+em;
            margin-right: 0;
        }
    }

}


// * Flex-box enhancements
// * ---------------------

.flexbox .media {
    display: flex;
    align-items: flex-start;

    // * Elements

    &__caption,
    > figcaption {
        flex: 1;
    }

    // * Modifiers
    // * NEW: media--center

    &--center {
        align-items: center;
    }

    &--rev {
        > img {
            order: 1;
            margin: 0 0 0 rhythm(base)+em;
        }
    }

}
