
// *    Pricing Table
// * ---------------------
// * Simple pricing-table abstraction.
// * Requires `_blocks.scss` && `_block-list.scss`. Can be used with splits
// *
// @ usage:
// * <article class="pricing">
// * <header (class="pricing__header")>
// *     <h1>Premium</h1>
// * </header>
// * <ul (class="pricing__list")>
// *     <li>...
// *     <li>....
// * </ul>
// * <footer>
// * ....
// * </footer>
// * ---------------------

@if (blaupause(components, use-components) == true and blaupause(components, pricing-list) == true) {

    .pricing {
        text-align: center;
        header {
            @extend .blocked;
        }
        &__list,
        ul {
            @extend .block-list;
            border-top: 0;
            li {
                border-left: brand(border-width)+em brand(border-style) palette(border);
                border-right: brand(border-width)+em brand(border-style) palette(border);
                padding-left: sizing(base)+em;
                padding-right: sizing(base)+em;
            }
        }

        &--round {
            header {
                border-radius: brand(border-radius)+em brand(border-radius)+em 0 0;
            }
            li:last-child {
                border-radius: 0 0 brand(border-radius)+em brand(border-radius)+em;
            }
        }
    }

}

