<footer class="footer">
    <section>
        <article class="footer__nav">
            <h4><a href="#top">Navigation</a></h4>
            <ul>
                <li>
                    <a href="#top">Seitenanfang</a>
                </li>
                <li>
                    <a href="{{ homepage }}"{{ if !segment_1 }} class="current" {{ /if }}>Home</a>
                </li>
                {{ nav from="/" exclude="werte|impressum|titelbild" max_depth="1" }}
                <li>
                    <a href="{{ url }}" {{if is_current }} class="current" {{ /if }}>{{ title }}</a>
                </li>
                {{ /nav }}
            </ul>
        </article>

        <article class="footer__flickr">
            <h4><a href="http://flickr.com/photos/germancrownclub">Unser Flickr</a></h4>
            <div class="flickr_api_images">
            </div>
        </article>

        <article class="footer__galerie">
            <h4><a href="{{ _site_url }}/galerie">Galerie</a></h4>
                <div class="slider_widget">
                    <ul class="rslides">
                        {{ entries:listing folder="galerie" limit="4" paginate="false" }}
                            <li>
                                <a href="{{ url }}">
                                    {{ galerie_title_grid }}
                                            <img src="{{ transform src="{ galerie_title_image }" width="600" height="400" quality="80" action="smart" }}"  alt="{{ caption }}" />
                                    {{ /galerie_title_grid }}
                                </a>
                            </li>
                        {{ /entries:listing }}
                    </ul>
                </div>
        </article>
        <div class="recht">
            <a href="{{ path src="impressum" }}">Impressum</a>
            <a href="{{ path src="kontakt" }}">Kontakt</a>
        </div>
    </section>
</footer>
