<nav class="nav" id="nav" role="navigation">
    <ul class="nav__main">
        {{ nav from="/" exclude="impressum" max_depth="2" }}
            <li>
                <a href="{{ url }}"  {{if is_current or is_parent }} class="current" {{ endif }}>{{ title }}</a>
            </li>
        {{ /nav }}
        {{ if !logged_in }}
            <li>
                <a href="#login" class="login-link">Login</a>
            </li>
        {{ else }}
            <li>
                <a href="{{ member:logout_url }}">Logout</a>
            </li>
        {{ /if }}
    </ul>
    <div class="nav__trigger" style="font-size:2em;padding: .5em;line-height: 1;">&#x2261;</div>
</nav>

