<!-- here comes the javascript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ theme:js src="vendor/jquery"}}"><\/script>')</script>
<script src="{{theme:js src="dist/global.min"}}"></script>
    <!-- Asynchronous google analytics; this is the official snippet -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41475928-1', 'germancrownclub.de');
      ga('send', 'pageview');
    </script>
