
// *    Buttons
// * ---------------------
// * A set of buttons that can be assigned in HTML or used silently in SASS. The button classes are:
// *   btn (a button)
// *   btn--small, btn--large (size modifiers)
// *   btn--full (buttons that fill parent)
// *   btn--positive, btn--negative, btn--disabled (callback-buttons)
// *   btn--secondary, btn--round (Visual modifiers)
// * @usage <a class="btn  btn--full"></a>
// * ---------------------


// * Core
// * 1. Use colors from `var/_colors.scss`
// * 2. Inherit line-height and normalize zoom to prevent odd UA-defaults.
// * 3. Prevent unexpected selection color or dragging events.
// * ---------------------

.btn {
    display: inline-block;
    padding: sizing(base)+em rhythm(base)+em;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    background: palette(primary);
    color: palette(background,light);
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    white-space: nowrap;
    zoom: 1;

    // * Interactivity

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        background: palette(primary,dark);
        color: palette(background,light);
    }

    // * Size modifiers

    &--small {
        padding: (sizing(base) / 4 +em) (rhythm(base) / 2 +em);
    }

    &--large {
        padding: sizing(base)+em (rhythm(base) * 2 +em);
    }

    &--full {
        display: block;
    }

    // * Visual

    &--round {
        @extend %brand--round;
    }

    &--secondary {
        background: palette(secondary);
        &:hover,
        &:active,
        &:focus {
            background: palette(secondary,dark);
        }
    }

    // * Callbacks

    &--success {
        background: palette(success);
        &:hover,
        &:active,
        &:focus {
            background: palette(success,dark);
        }
    }

    &--error {
        background: palette(error);
        &:hover,
        &:active,
        &:focus {
            background: palette(error,dark);
        }
    }

    &--disabled,
    &[disabled = "disabled"] {
        background: palette(disabled);
        cursor: default;
        &:hover,
        &:active,
        &:focus {
            background: palette(disabled,dark);
        }
    }

}
