
// *    Buttons
// * ---------------------
// * A set of buttons that can be assigned in HTML or used silently in SASS. The button classes are:
// *   btn (a button)
// *   btn--small, btn--medium, btn--large (size modifiers)
// *   btn--full (buttons that fill parent)
// *   btn--positive, btn--negative, btn--disabled (callback-buttons)
// *   btn--secondary, btn--tertiary, btn--round (Visual modifiers)
// * @usage <a class="btn  btn--full"></a>
// * ---------------------

$btn__primaryColor:   $color__primary;
$btn__secondaryColor: $color__secondary;
$btn__tertiaryColor:  tint( $color__secondary, 20% );
$btn__mutedColor:     $color__disabled;
$btn__positiveColor:  $color__success;
$btn__negativeColor:  $color__error;
$btn__textColor:      #fff !default;

// * Core
// * 1. Use colors from `var/_colors.scss`
// * 2. Inherit line-height and normalize zoom to prevent odd UA-defaults.
// * 3. Prevent unexpected selection color or dragging events.
// * ---------------------

.btn {
    background: $btn__primaryColor;
    color: $btn__textColor;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: ($base__sizingUnit / 2+em) ($base__rhythmUnit+em);
    text-align: center;
    -webkit-user-drag: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    zoom: 1;
}

// * Interactivity

.btn {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

// * Size modifiers

.btn--small {}
.btn--medium {}
.btn--large {}

.btn--full { 
    display: block;
}

// * Visual modifiers

.btn--round {
    @extend %brand--round;
}

.btn--secondary { 
    background: $btn__secondaryColor;
}

.btn--tertiary { 
    background: $btn__tertiaryColor;
}

// * Button-states / Callbacks

.btn--positive {
    background: $btn__positiveColor;
}

.btn--negative {
    background: $btn__negativeColor;
}

.btn:disabled,
.btn--disabled {
    background: $btn__mutedColor;
}
