//*------------------------------------*\
//     $BUTTONS
//*------------------------------------*/
// Buttons for the project.
//---------------------------------


$btn--primary-color:   $color--primary;
$btn--secondary-color: $color--secondary;
$btn--tertiary-color:  tint($color--secondary,20%);
$btn--muted-color:     $color--disabled;
$btn--positive-color:  $color--success;
$btn--negative-color:  $color--error;

// Structure

.btn {
    display: inline-block;
    background: $btn--primary-color;
    padding: .25em 1em;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
    user-select: none;
    // Firefox: Get rid of the inner focus border
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

// Interactivity

.btn {
    &:hover {
        text-decoration: none;
    }
    &:focus,
    &:active {
        outline: none;
    }
}

// Size modifiers

.btn--small {}
.btn--medium {}
.btn--large {}

.btn--full { 
    display: block;
 }

 // Visual modifiers

.btn--secondary { 
    background: $btn--secondary-color;
 }
.btn--tertiary { 
    background: $btn--tertiary-color;
 }
.btn--round {
    border-radius: $brand--rounding;
}
// Button-states / Callbacks

.btn--positive {
    background: $btn--positive-color;
}
.btn--negative {
    background: $btn--negative-color;
}
.btn[disabled],
.btn--disabled {
    background: $btn--muted-color;
}
