
// *    Forms
// * ---------------------
// * Really basic-styling for responsive forms.
// * ---------------------

// * Core
// * 1. Consistent display-type
// * 2. Consistend type-family
// * 3. Make sure fields are aligned with type
// * ---------------------

form {
    @include rem("margin-bottom", rhythm(base,number));
}

label,
input,
select,
textarea,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    font-family: type(font,primary);
}

input[type="file"],
output {
    display: block;
}

input,
select,
textarea {
    margin-bottom: rhythm(base)+em;
    vertical-align: baseline;
}

// * Fieldsets

fieldset {
    padding: (sizing(base) / 2 +em) (sizing(base) / 2 +em);
    border: brand(border-width) solid palette(border);
}

// * Text inputs

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="text"],
input[type^="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="time"],
input[type="url"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: (sizing(base) / 2 +em);
}

// * Clickable inputs

button,
input[type="image"],
input[type="submit"],
input[type="reset"],
html input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

// * Buttons

button,
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    border: 0;
    box-shadow: 0;
    @extend .btn;
}

// * Checkboxes & Radios

label input[type="radio"],
label input[type="checkbox"] {
    margin-right: (sizing(base) / 2 +em);
}

label + input[type="radio"],
label + input[type="checkbox"] {
    margin-left: (sizing(base) / 2 +em);
}

// * Selects

select {
    width: 100%;
}
