//*------------------------------------*\
//     $FORMS
//*------------------------------------*/
// Forms.
//---------------------------------

// Base

form {
    @include rem( "margin-bottom", $base__rhythmNumerical );
}

label,
input,
textarea,
select,
legend {
    display: inline-block;
    font-family: $type__primary;
    line-height: normal;
    vertical-align: middle;
}

// Fieldsets

fieldset {
    border: $brand__borderWidth solid $brand__borderColor;
    padding: ($base__sizingUnit/4+em) ($base__sizingUnit/2+em);
}

// Text inputs

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
    width: 100%;
}

button,
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    border: 0;
    box-shadow: 0;
    @extend .btn;
}
