//*------------------------------------*\
//     $TABLES
//*------------------------------------*/
// Tables
//---------------------------------

$table--background-color: #fff;
$table--odd-color:        #eee;
$table--head-background:  #fff;
$table--head-color:       $color--body-text;

table{
    width:100%;
    background: $table--background-color;
}
th,
td{
    padding:$base-sizing-unit / 4 + em;
    @include bp(lap-up) {
        padding:$base-sizing-unit / 2 +em;
    }
    text-align:left;
}

thead {
    background: $table--head-background;
    color: $table--head-color;
}

/**
 * Cell alignments
 */
[colspan]{
    text-align:center;
}
[colspan="1"]{
    text-align:left;
}
[rowspan]{
    vertical-align:middle;
}
[rowspan="1"]{
    vertical-align:top;
}
.numerical{
    text-align:right;
}

// Table sizes

.t5     { width: 5% }
.t10    { width:10% }
.t12    { width:12.5% }     /* 1/8 */
.t15    { width:15% }
.t20    { width:20% }
.t25    { width:25% }       /* 1/4 */
.t30    { width:30% }
.t33    { width:33.333% }   /* 1/3 */
.t35    { width:35% }
.t37    { width:37.5% }     /* 3/8 */
.t40    { width:40% }
.t45    { width:45% }
.t50    { width:50% }       /* 1/2 */
.t55    { width:55% }
.t60    { width:60% }
.t62    { width:62.5% }     /* 5/8 */
.t65    { width:65% }
.t66    { width:66.666% }   /* 2/3 */
.t70    { width:70% }
.t75    { width:75% }       /* 3/4*/
.t80    { width:80% }
.t85    { width:85% }
.t87    { width:87.5% }     /* 7/8 */
.t90    { width:90% }
.t95    { width:95% }


/**
 * Bordered tables
 */
.table--bordered{

    th,
    td{
        border:$brand--border-width solid $brand--border-color;

        &:empty{
            border:none;
        }
    }

    thead tr:last-child th{
        border-bottom-width:$brand--border-width;
    }

    tbody tr th:last-of-type{
        border-right-width:$brand--border-width;
    }
}


/**
 * Striped tables
 */
.table--striped{

    tbody tr:nth-of-type(odd){
        background-color: $table--odd-color; /* Override this color in your theme stylesheet */
    }
}


/**
 * Data table
 */
.table--data{
    font:12px/1.5 sans-serif;
}