
// *    Tables
// * ---------------------
// * Basic styles for <table>. There are two modifiers avaiable:
// * table--bordered
// * table--striped
// * ---------------------

$color__table--background: #fff;
$color__table--odd:        #eee;
$color__table--head:       #fff;
$color__table--head-text:  $color__type--text;

// * Core table styles
// * 1. Remove most spacing from tables.
// * ---------------------

table {
    background: $color__table--background;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th,
td {
    padding: ($base--sizing-unit/4+em);
    text-align: left;
    @include bp(lapUp) {
        padding: ($base--sizing-unit/2+em);
    }
}

thead {
    background: $color__table--head;
    color: $color__table--head-text;
}

// * Bordered tables

.table--bordered {
    th,
    td {
        border:$brand--border-width solid $color__brand--border;
        &:empty {
            border: none;
        }
    }
    thead tr:last-child th {
        border-bottom-width: $brand--border-width;
    }
    tbody tr th:last-of-type {
        border-right-width: $brand--border-width;
    }
}

// * Striped Tables

.table--striped {
    tbody tr:nth-of-type(odd){
        background-color: $color__table--odd;
    }
}

// * Data table

.table--data,
#{$base--content-namespace} .table--data {
    font:12px/1.5 sans-serif;
}
