
// *    Tables
// * ---------------------
// * Basic styles for <table>. There are two modifiers avaiable:
// * table--bordered
// * table--striped
// * ---------------------

$table: (
    background: palette(background,light),
    odd: palette(background,dark),
    head:  palette(background,light),
    type: palette(type)
);

@function table($val) {
    @return map-get($table, $val);
}

// * Core table styles
// * 1. Remove most spacing from tables.
// * ---------------------

table {
    width: 100%;
    background: table(background);
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: (sizing(base) / 4 +em);
    text-align: left;
    @include bp(lap-up) {
        padding: (sizing(base) / 2 +em);
    }
}

thead {
    background: table(head);
    color: table(type);
}

// * Bordered tables

.table--bordered {
    th,
    td {
        border: brand(border-width) solid palette(border);
        &:empty {
            border: none;
        }
    }
    thead tr:last-child th {
        border-bottom-width: brand(border-width);
    }
    tbody tr th:last-of-type {
        border-right-width: brand(border-width);
    }
}

// * Striped Tables

.table--striped {
    tbody tr:nth-of-type(odd){
        background-color: table(odd);
    }
}

// * Data table

.table--data,
#{$base--content-namespace} .table--data {
    font:12px/1.5 sans-serif;
}
