
////
/// Typography
/// MIT-License © 2016
/// @author Felix Spöttel
////

body {
  background-color: $color-background;
  color: $color-text;
  font-family: $text-font-stack;
  line-height: $text-line-height;
}
