
// *    Base Variables
// * ---------------------
// * Map for numerical values. Exports the map `base`, which is used to calculate margins, sizes and type-sizes.
// @exports base(value)
// * ---------------------

// * Calculation basics

$base: (
    size:            16,
    browser-default: 16,
    ratio:           1.5
);

@function base($val) {
    @return map-get($base, $val);
}
