
// *    Brand
// * ---------------------
// * A map containing brand-styles. can be used directly in you CSS, e.g.: border-radius: brand(border-radius).
// @exports brand(value);
// * ---------------------

$brand: (
    border-radius:      (sizing(base) / 4),
    border-style:        solid,
    border-width:       (sizing(base) / 8),
    transition-duration: 0.3s,
    transition-style:    ease(cubic)
);

@function brand($val) {
    @return map-get($brand, $val);
}
