
// *   Media Queries
// * ---------------------
// * Re-usable media queries for the bp-mixin and grid.
// @exports bp(palm/lap/lap-up/desk/high)
// * ---------------------

$bp: (
    palm:   "(max-width: 480px)",
    lap:    "(min-width: 481px) and (max-width: 1023px)",
    lap-up: "(min-width: 481px)",
    desk:   "(min-width: 1024px)",
    high:   "(min-width: 1500px)"
);

@function bp($val) {
    @return map-get($bp, $val);
}
