
// *    Units
// * ---------------------
// @exports sizing(base/type,unit(default)/number)
// @exports rhythm(base/type,unit(default)/number)
// * ---------------------

// * Sizing

$sizing: (
    base:(
        unit:   (base(size) / base(browser-default)),
        number:  base(size),
    ),
    type: (
        unit:   (type(base,size) / base(browser-default)),
        number:  type(base,size)
    )
);

@function sizing($sizes, $value:"unit") {
    @return map-get(map-get($sizing, $sizes), $value);
}

// * Rhythm

$rhythm: (
    base: (
        unit:   base(ratio),
        number: base(ratio) * base(size),
    ),
    type: (
        unit:    type(base,ratio),
        number: (type(base,size) * type(base,ratio))
    )
);

@function rhythm($sizes, $value:"unit") {
    @return map-get(map-get($rhythm, $sizes), $value);
}
